<a href="https://colab.research.google.com/github/JinLeeGG/AI_Project_Preparation/blob/main/1.%20Python%20Basics/Day2%20-%20Variables%20in%20Python/Variable_in_Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
name = 'KimApple'
age = 20
print(name)
print(age)

name = 'Banhana'
print(name)

KimApple
20
Banhana

In [8]:
a = 200
b = 200
print(a)
print(b)

print(a is b)
print(a is name)

print(id(a))
print(id(b))
print(id(name))

200
200
True
False
10757224
10757224
136417632361584

In [10]:
name = 'Kimapple'
age = 20
weight = 50.5
isLover = False

print(name)
print(age)
print(weight)
print(isLover)

print(type(name))
print(type(age))
print(type(weight))
print(type(isLover))

Kimapple
20
50.5
False
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [14]:
name = 'banana'
age = 25
height = 160.123

print(f"name: {name}, age: {age}, height: {height:.1f}cm")
print(type(name), type(age), type(height))

name: banana, age: 25, height: 160.1cm
<class 'str'> <class 'int'> <class 'float'>

In [16]:
my_list = [1,2,3]
print(type(my_list))

my_tuple = (1,2,3)
print(type(my_tuple))

my_dict = {'key':'val'}
print(type(my_dict))

my_set = {1, 2, 3}
print(type(my_set))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [24]:
## Type Casting

# Integer >> float
a = 100
b = float(a)
print(type(b))

# float >> String
c = 3.14
d = str(c)
print(type(d))

#String >> int, float
e = "100"
f = int(e)
g = float(e)
print(type(f), type(g))

# Int / Float >> String
h = 42
i = str(h)
j = 3.14
k = str(j)
print(type(i), type(j))

<class 'float'>
<class 'str'>
<class 'int'> <class 'float'>
<class 'str'> <class 'float'>

In [25]:
# deleting variables
print(isLover)

False

In [26]:
del isLover

In [27]:
print(isLover)

NameError: name 'isLover' is not defined

In [28]:
name1 = "John"
name2 = name1

del name1

print(name2)

John

In [31]:
## Immutable object

x = 10
print(id(x))

x = x+1
print(id(x))

y = 11
print(id(y))

10751144
10751176
10751176