<a href="https://colab.research.google.com/github/JinLeeGG/AI_Project_Preparation/blob/main/2.%20Web%20Development%20(providing%20LLM%20service)/01.%20Type%20Annotation/Type_Annotaion_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# variable type annotation
name = 'John'
name: str = 'John'
print(name)

age = 10
age: int = 10
print(age)

height = 170.2
height: float = 170.2
print(height)

is_lover = True
is_lover: bool = True
print(is_lover)

John
10
170.2
True

In [ ]:
# list type annotation
names = ['apple', 'orange', 'banana']
names: list[str] = ['apple', 'banana', 'orange']
print(names)

['apple', 'banana', 'orange']

In [ ]:
# does not cause err if its differnt type annotation
name: list[int] = ['apple', 'oragne', 'banana']
print(name)

['apple', 'oragne', 'banana']

In [ ]:
# Tuple type annotation
age = (25, 30)
age: tuple[int, int] = (25, 30)
print(age)

# Multiple same types:
numbers: tuple[int, ...] = (1,2,3,4,5)
print(numbers)

(25, 30)
(1, 2, 3, 4, 5)

In [ ]:
# Dictionary type annotation
student_scores = {'apple' : 90.5, 'orange' : 88.3}
student_scores: dict[str, float] = {'apple' : 90.5, 'orange' : 88.3}
print(student_scores)

{'apple': 90.5, 'orange': 88.3}

In [ ]:
# Set type annotation
unique_numbers = {1, 2, 3, 3, 4}
nuique_numbers: set[int] = {1, 2, 3, 3, 4}
print(unique_numbers)

{1, 2, 3, 4}

In [ ]:
# functions

def add(a, b):
    return a + b

print(add(10,3))

13

In [ ]:
def add(a: int, b: int) -> int:
    return a + b

print(add(10, 3))
print(add('십', '삼'))

#check type annotation
add.__annotations__ # Magic method that checks type annotation in class or functions

13
십삼

{'a': int, 'b': int, 'return': int}

In [ ]:
def greet(user: str | None) -> str: # Parameter can be str or None and returns str at the end
    return f"Hello, {user or 'Guest'}"

print(greet(None))
print(greet('apple')) #both none or str works

Hello, Guest
Hello, apple

In [ ]:
# Class

class Student:
    def __init__(self, name: str, age: int): # name as string and age as integer
          self.name = name
          self.age = age
    def __str__(self) -> str: # returns string
          return 'name: ' + self.name + ', age: ' + str(self.age)

def print_student(s: Student) -> None: # s must be student class object and returms None
    print(f'name: {s.name}, age: {s.age} HEEE')

In [ ]:
student = Student('apple', 20)
print(student)

name: apple, age: 20

In [ ]:
print_student(student)

name: apple, age: 20 HEEE

In [ ]:
# Optional in parameters
def Hello(name: str | None) -> str: # parameter can be str or None and returns string
  if name is None:
      return "Hello Guest!"
  return f"Hello, {name}!"

In [ ]:
print(Hello('apple'))
print(Hello(None))

Hello, apple!
Hello Guest!

In [ ]:
# optional in return type
def find_user(user_id: int) -> str | None:
    if user_id == 1:
        return "apple"
    return None

In [ ]:
find_user(1) # returns apple

'apple'

In [ ]:
find_user(99) # returns None

In [ ]:
# dictionary
users: dict[int, str] = {
    1: "apple",
    2: "banana"
}

def get_user(user_id: int) -> str | None: # returns string or None
    return users.get(user_id)

In [ ]:
get_user(1)

'apple'

In [ ]:
get_user(2)

'banana'

In [ ]:
get_user(3) #does not cause err because return type can be none

In [ ]:
# Any

from typing import Any # must use typing module to use any

def process(data: Any) -> None:
    print(data)

In [ ]:
process('Hi')