<a href="https://colab.research.google.com/github/JinLeeGG/AI_Project_with_OpenCV/blob/main/4_Python_Collection_Type_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 컬렉션 타입
여러 개의 데이터 항목을 하나의 단위로 관리할 수 있게 해주는 데이터 구조를 의미합니다. 이것은 여러 개의 데이터를 하나의 변수에 저장하고, 관리할 수 있게 해줍니다. 파이썬에서는 리스트, 튜플, 세트, 딕셔너리 등이 기본적인 컬렉션 타입에 속합니다.

### **2. 리스트**
여러 값들을 하나의 변수에 저장하고 관리할 수 있게 해주는 순차적인 자료구조입니다.

<center><img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FrbbGS%2FbtsNlJ3pII6%2FxOarLiohBmOc4K2XLy0gq0%2Fimg.png"></center>

In [1]:
# 리스트 생성
li1 = [1, 3, 5, 7, 9]
print(li1)
print(type(li1))

[1, 3, 5, 7, 9]
<class 'list'>

In [2]:
li2 = list([1,3,5,7,9]) # 다른 자료형을 형 변환 할려고 이 함수가 존재한다.
print(li2)
print(type(li2))

[1, 3, 5, 7, 9]
<class 'list'>

In [3]:
li3 = ['김사과', '반하나', '오렌지', '이메론']
print(li3)

['김사과', '반하나', '오렌지', '이메론']

In [5]:
li4 = [1, 50.5, '김사과', True] # 각자 타입이 다른 데이터를 저장

print(li4)
print(type(li4))

print(li4[0])
print(type(li4[0]))

print(li4[0])
print(li4[1])
print(li4[2])
print(li4[3])

# print(li4[4]) # IndexError: list index out of range
print(type(li4[0]))
print(type(li4[1]))
print(type(li4[2]))
print(type(li4[3]))

[1, 50.5, '김사과', True]
<class 'list'>
1
<class 'int'>
1
50.5
김사과
True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [7]:
# 리스트 인덱싱
# 리스트의 각 항목은 위치(인덱스)를 가지고 있으며, 인덱스를 사용하여 접근할 수 있습니다. 인덱스는 0부터 시작합니다.

li1 = [1, 3, 5, 7, 9]
print(li1)
print(li1[0])
print(li1[-1])
print(li1[0] + li1[-1])

[1, 3, 5, 7, 9]
1
9
10
[1, 2, '파이썬', ['김사과', '오렌지']]
<class 'list'>
2
<class 'int'>
['김사과', '오렌지']
<class 'list'>
오렌지
<class 'str'>

In [8]:
li2 = [1, 2, '파이썬', ['김사과', '오렌지']]
print(li2)
print(type(li2))
print(li2[1])
print(type(li2[1]))
print(li2[3])
print(type(li2[3]))
print(li2[3][1])
print(type(li2[3][1]))

[1, 2, '파이썬', ['김사과', '오렌지']]
<class 'list'>
2
<class 'int'>
['김사과', '오렌지']
<class 'list'>
오렌지
<class 'str'>

In [9]:

li3 = [1, 2, 3, ['김사과', '오렌지', '반하나', ['🍟','🌭','🥩','🍗']]]
print(li3)
print(li3[2])
print(li3[-1])
print(li3[-1][-2])
print(li3[-1][-1][-2])
print(li3[-1][-1][-1])

[1, 2, 3, ['김사과', '오렌지', '반하나', ['🍟', '🌭', '🥩', '🍗']]]
3
['김사과', '오렌지', '반하나', ['🍟', '🌭', '🥩', '🍗']]
반하나
🥩
🍗

In [12]:
# 리스트 슬라이싱

li1 = [10, 20, 30, 40, 50]
print(li1)
print(li1[0:3])

li2 = li1
print(li2)
li2[0] = 100
print(li2)
print(li1)

li3 = [1, 2, 3, ['김사과', '오렌지', '반하나', ['🍟','🌭','🥩','🍗']]]
print(li3[2:3])
print(li3[3][:2])

[10, 20, 30, 40, 50]
[10, 20, 30]
[10, 20, 30, 40, 50]
[100, 20, 30, 40, 50]
[100, 20, 30, 40, 50]