<a href="https://colab.research.google.com/github/JinLeeGG/AI_Project_Preparation/blob/main/4_Python_Collection_Type_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://ryuzyproject.tistory.com/7?category=1088818

# 1. 컬렉션 타입
여러 개의 데이터 항목을 하나의 단위로 관리할 수 있게 해주는 데이터 구조를 의미합니다. 이것은 여러 개의 데이터를 하나의 변수에 저장하고, 관리할 수 있게 해줍니다. 파이썬에서는 리스트, 튜플, 세트, 딕셔너리 등이 기본적인 컬렉션 타입에 속합니다.

### **2. 리스트**
여러 값들을 하나의 변수에 저장하고 관리할 수 있게 해주는 순차적인 자료구조입니다.

<center><img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FrbbGS%2FbtsNlJ3pII6%2FxOarLiohBmOc4K2XLy0gq0%2Fimg.png"></center>

In [ ]:
# 리스트 생성
li1 = [1, 3, 5, 7, 9]
print(li1)
print(type(li1))

[1, 3, 5, 7, 9]
<class 'list'>

In [ ]:
li2 = list([1,3,5,7,9]) # 다른 자료형을 형 변환 할려고 이 함수가 존재한다.
print(li2)
print(type(li2))

[1, 3, 5, 7, 9]
<class 'list'>

In [ ]:
li3 = ['김사과', '반하나', '오렌지', '이메론']
print(li3)

['김사과', '반하나', '오렌지', '이메론']

In [ ]:
li4 = [1, 50.5, '김사과', True] # 각자 타입이 다른 데이터를 저장

print(li4)
print(type(li4))

print(li4[0])
print(type(li4[0]))

print(li4[0])
print(li4[1])
print(li4[2])
print(li4[3])

# print(li4[4]) # IndexError: list index out of range
print(type(li4[0]))
print(type(li4[1]))
print(type(li4[2]))
print(type(li4[3]))

[1, 50.5, '김사과', True]
<class 'list'>
1
<class 'int'>
1
50.5
김사과
True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# 리스트 인덱싱
# 리스트의 각 항목은 위치(인덱스)를 가지고 있으며, 인덱스를 사용하여 접근할 수 있습니다. 인덱스는 0부터 시작합니다.

li1 = [1, 3, 5, 7, 9]
print(li1)
print(li1[0])
print(li1[-1])
print(li1[0] + li1[-1])

[1, 3, 5, 7, 9]
1
9
10

In [ ]:
li2 = [1, 2, '파이썬', ['김사과', '오렌지']]
print(li2)
print(type(li2))
print(li2[1])
print(type(li2[1]))
print(li2[3])
print(type(li2[3]))
print(li2[3][1])
print(type(li2[3][1]))

[1, 2, '파이썬', ['김사과', '오렌지']]
<class 'list'>
2
<class 'int'>
['김사과', '오렌지']
<class 'list'>
오렌지
<class 'str'>

In [ ]:

li3 = [1, 2, 3, ['김사과', '오렌지', '반하나', ['🍟','🌭','🥩','🍗']]]
print(li3)
print(li3[2])
print(li3[-1])
print(li3[-1][-2])
print(li3[-1][-1][-2])
print(li3[-1][-1][-1])

[1, 2, 3, ['김사과', '오렌지', '반하나', ['🍟', '🌭', '🥩', '🍗']]]
3
['김사과', '오렌지', '반하나', ['🍟', '🌭', '🥩', '🍗']]
반하나
🥩
🍗

In [ ]:
# 리스트 슬라이싱

li1 = [10, 20, 30, 40, 50]
print(li1)
print(li1[0:3])

li2 = li1
print(li2)
li2[0] = 100
print(li2)
print(li1)

li3 = [1, 2, 3, ['김사과', '오렌지', '반하나', ['🍟','🌭','🥩','🍗']]]
print(li3[2:3])
print(li3[3][:2])

[10, 20, 30, 40, 50]
[10, 20, 30]
[10, 20, 30, 40, 50]
[100, 20, 30, 40, 50]
[100, 20, 30, 40, 50]
[3]
['김사과', '오렌지']

### 4. 변경 가능
리스트의 항목들은 변경할 수 있습니다. 즉, 리스트의 항목들을 수정, 추가, 삭제할 수 있습니다.

In [ ]:
li4 = [10, 20, 30, 40, 50]
# 슬라이싱을 이용하여 요소를 추가한 경우 리스트에 데이터만 포함
li4[1:2] =  ['🍣','🍜','🍣','🍜']
print(li4)

[10, '🍣', '🍜', '🍣', '🍜', 30, 40, 50]

In [ ]:
li4 = [10, 20, 30, 40, 50]
# 인덱싱을 이용하여 요소를 추가한 경우 리스트 안에 리스트를 만들고 포함
li4[1] = ['🍣','🍜','🍣','🍜']
print(li4)

[10, ['🍣', '🍜', '🍣', '🍜'], 30, 40, 50]

In [ ]:
li4 = [10, 20, 30, 40, 50]
print(li4[1:3])
li4[1:3] = [] # 빈 리스트를 슬라이싱을 통해 저장하면 해당 요소가 삭제됨
print(li4)

[20, 30]
[10, 40, 50]

In [ ]:
li4 = [10, 20, 30, 40, 50]
print(li4[1:2])
print(li4[1])
li4[1] = []
print(li4)

[20]
20
[10, [], 30, 40, 50]

In [ ]:
# 리스트를 지울때:
li4 = [10, 20, 30, 40, 50]
print(li4)
del li4[1]
print(li4)

[10, 20, 30, 40, 50]
[10, 30, 40, 50]

### 5. 연산
리스트 간의 + 연산으로 리스트를 결합할 수 있고, * 연산으로 리스트를 반복할 수 있습니다.

In [ ]:
li5 = [10, 20, 30]
li6 = [40, 50, 60]
print(li5 + li6)      # 연산이 아니라 리스트끼리 합쳐진다.
print(li6 + li5)

[10, 20, 30, 40, 50, 60]
[40, 50, 60, 10, 20, 30]

In [ ]:
li5 = [10, 20, 30]
li6 = li5 + [40, 50, 60] # [10, 20, 30] + [40, 50, 60]
print(li6)

[10, 20, 30, 40, 50, 60]

In [ ]:
li6 = [10, 20, 30]
li6 += [40, 50, 60] # li6 = li6 + [40, 50, 60]
print(li6)

[10, 20, 30, 40, 50, 60]

In [ ]:
li6 = [10, 20, 30]
print(li6 * 3)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

### 6. 함수와 메서드
리스트를 다루기 위한 여러 함수와 메소드들이 있습니다.

In [ ]:
# len(): 객체의 길이를 반환하는 파이썬의 기본 내장 함수
li6 = [10, 20, 30]
print(len(li6))

In [ ]:
# append(): 리스트 요소의 끝에 새로운 요소를 추가
li6 = [10, 20, 30]
print(li6)

li6.append(100)
print(li6)
# li6.append(200, 300)
li6.append([200, 300])
print(li6)

[10, 20, 30]
[10, 20, 30, 100]
[10, 20, 30, 100, [200, 300]]

In [ ]:
# extend(): 리스트 요소의 끝에 새로운 여러 요소를 추가
li6 = [10, 20, 30]
print(li6)

# li6.extend(100)
li6.extend([100])
print(li6)
li6.extend([200, 300, 400])
print(li6)

[10, 20, 30]
[10, 20, 30, 100]
[10, 20, 30, 100, 200, 300, 400]

In [ ]:
# pop(): 리스트 마지막 요소를 삭제하고 삭제된 요소를 반환
li6 = [10, 20, 30]
print(li6)

# print(li6.pop())
temp = li6.pop()
print(li6)
print(temp)

[10, 20, 30]
[10, 20]
30

In [ ]:
# index(): 리스트에서 특정 요소의 값 인덱스를 반환
li6 = [10, 20, 30]
print(li6)

print(li6.index(30))
# print(li6.index(100)) # 값이 없으면 에러

[10, 20, 30]
2

In [ ]:
# reverse(): 리스트의 요소들의 순서를 반대로 설정
li7 = [100, 50, 70, 60, 20]
print(li7)

li7.reverse()
print(li7)

[100, 50, 70, 60, 20]
[20, 60, 70, 50, 100]

In [ ]:
# 슬라이싱을 사용하여 리스트의 요소들의 순서를 반대로 설정하는 방법
li7 = [100, 50, 70, 60, 20]
print(li7[:])                 #아무것도 안적으면 끝까지 나온다
print(li7[0:5])               # 0 ~ 5
print(li7[::])                # step이 생략
print(li7[0:5:1])             # step의 기본값은 1
print(li7[0:5:2])             # step을 2로 설정

[100, 50, 70, 60, 20]
[100, 50, 70, 60, 20]
[100, 50, 70, 60, 20]
[100, 50, 70, 60, 20]
[100, 70, 20]

In [ ]:
li7 = [100, 50, 70, 60, 20]
print(li7[::-1])              # step이 -1일 경우 start의 기본값은 -1, stop의 기본값은 0으로 설정
print(li7[-1::-1])
print(li7[-1:-6:-1])

[20, 60, 70, 50, 100]
[20, 60, 70, 50, 100]
[20, 60, 70, 50, 100]

In [ ]:
# sort(): 리스트의 요소를 오름차순으로 정렬
li7 = [100, 50, 70, 60, 20]
print(li7)

li7.sort()
print(li7)

# sort(reverse=True): 리스트의 요소를 내림차순으로 정렬
li7.sort(reverse=True)
print(li7)

li8 = ['Apple', 'apple', 'orange', 'banana', 'melon']
li8.sort()
print(li8)

li9 = ['김사과', '오렌지', '반하나', '이메론', '배애리']
li9.sort()
print(li9)

[100, 50, 70, 60, 20]
[20, 50, 60, 70, 100]
[100, 70, 60, 50, 20]
['Apple', 'apple', 'banana', 'melon', 'orange']
['김사과', '반하나', '배애리', '오렌지', '이메론']

In [ ]:
# sorted(): 모든 요소를 정렬한 후 반환해주는 함수
li7 = [100, 50, 70, 60, 20]
print(li7)

result = sorted(li7)
print(li7)
print(result)

[100, 50, 70, 60, 20]
[100, 50, 70, 60, 20]
[20, 50, 60, 70, 100]

In [ ]:
# count(): 리스트에서 특정 요소의 갯수를 반환
li9 = [10, 20, 30, 50, 20, 40, 30, 20]
print(li9)

print(li9.count(20))
print(li9.count(100))

[10, 20, 30, 50, 20, 40, 30, 20]
3
0