<a href="https://colab.research.google.com/github/JinLeeGG/AI_Project_Preparation/blob/main/5_Python_Collection_Type_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://ryuzyproject.tistory.com/8

# 1. íŠœí”Œ
ì—¬ëŸ¬ ê°€ì§€ ë°ì´í„° íƒ€ì…ì˜ ê°’ì„ ì €ì¥í•  ìˆ˜ ìˆëŠ”, ë³€ê²½ ë¶ˆê°€ëŠ¥(immutable)í•œ ìˆœì„œê°€ ìˆëŠ” ì»¬ë ‰ì…˜ì…ë‹ˆë‹¤.

In [ ]:
tu1 = ()
print(tu1)
print(type(tu1))

()
<class 'tuple'>

In [ ]:
tu1 = (1)
print(tu1)
print(type(tu1))    # ìš”ì†Œê°€ 1ê°œì¼ ê²½ìš°, ì½¤ë§ˆë¥¼ ì•ˆë„£ì„ì‹œ intë¡œ ì¸ì‹ì„ í•œë‹¤ ê³„ì‚°ì‚´ë•Œì˜ ê´„í˜¸ë¡œ ì¸ì‹

tu1 = (1,)          # ìš”ì†Œê°€ 1ê°œì¼ ê²½ìš° ëì— ì½¤ë§ˆë¥¼ ê¼­! ë¶™ì—¬ì•¼ í•¨
print(tu1)
print(type(tu1))    # íŠœí”Œë¡œ ì¸ì‹ëœë‹¤.

1
<class 'int'>
(1,)
<class 'tuple'>

In [ ]:
tu2 = (1, 3, 5, 7)
print(tu2)
print(type(tu2))

(1, 3, 5, 7)
<class 'tuple'>

In [ ]:
tu3 = tuple([1, 3, 5, 7])
print(tu3)
print(type(tu3))

(1, 3, 5, 7)
<class 'tuple'>

In [ ]:
li3 = list(tu3)
print(li3)
print(type(li3))

[1, 3, 5, 7]
<class 'list'>

In [ ]:
tu4 = 1, 3, 5, 7
print(tu4)
print(type(tu4))

(1, 3, 5, 7)
<class 'tuple'>

# 2. íŒ¨í‚¹ê³¼ ì–¸íŒ¨í‚¹
ë³€ìˆ˜ë¥¼ íŠœí”Œì— íŠœí”Œì˜ í•­ëª©ë“¤ì€ ë³€ìˆ˜ë“¤ì— í• ë‹¹ë  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [ ]:
num1 = 10
num2 = 20
num3 = 30
tu4 = num1, num2, num3
print(tu4)

result1, result2, result3 = tu4
print(result1)
print(result2)
print(result3)

(10, 20, 30)
10
20
30

# 3. ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹±
íŠœí”Œì˜ ê° í•­ëª©ì€ ìœ„ì¹˜(ì¸ë±ìŠ¤)ë¥¼ ê°€ì§€ê³  ìˆìœ¼ë©°, ì¸ë±ìŠ¤ë¥¼ ì‚¬ìš©í•˜ì—¬ ì ‘ê·¼í•˜ê±°ë‚˜ ì¼ë¶€ë¶„ì„ ì¶”ì¶œí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [ ]:
tu5 = ('apple', 'banana', ('ğŸ', 'ğŸŒ'))
print(tu5)
print(type(tu5))

print(tu5[0])
print(type(tu5[0]))
print(tu5[2][0])
print(type(tu5[2][0]))

('apple', 'banana', ('ğŸ', 'ğŸŒ'))
<class 'tuple'>
apple
<class 'str'>
ğŸ
<class 'str'>

In [ ]:
tu5 = ('apple', 'banana', ('ğŸ', 'ğŸŒ'))
# tu5[0] = 'orange' # TypeError: 'tuple' object does not support item assignment
tu5 = 'orange'
print(tu5)

orange

In [ ]:
tu5 = ('apple', 'banana', ['ğŸ', 'ğŸŒ'])
print(tu5)
print(type(tu5))
print(tu5[2])
print(type(tu5[2]))
tu5[2][0] = 'â¤'
print(tu5)
# tu5[2] = 'ğŸƒ' # TypeError: 'tuple' object does not support item assignment

tu5[2][0] = 'ğŸ”'
print(tu5)

('apple', 'banana', ['ğŸ', 'ğŸŒ'])
<class 'tuple'>
['ğŸ', 'ğŸŒ']
<class 'list'>
('apple', 'banana', ['â¤', 'ğŸŒ'])
('apple', 'banana', ['ğŸ”', 'ğŸŒ'])

In [ ]:
# íŠœí”Œì˜ ìŠ¬ë¼ì´ì‹±ì€ ê²°ê³¼ë„ íŠœí”Œë¡œ ë°˜í™˜
tu6 = (1, 2, 'apple', 'banana')
print(tu6[1:])
print(tu6[1:3])

(2, 'apple', 'banana')
(2, 'apple')

# 4. ì—°ì‚°
íŠœí”Œ ê°„ì˜ + ì—°ì‚°ìœ¼ë¡œ ë¦¬ìŠ¤íŠ¸ë¥¼ ê²°í•©í•  ìˆ˜ ìˆê³ , * ì—°ì‚°ìœ¼ë¡œ ë¦¬ìŠ¤íŠ¸ë¥¼ ë°˜ë³µí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [ ]:
# íŠœí”Œê°„ì˜ ì—°ì‚°ì€ ê²°ê³¼ë„ íŠœí”Œë¡œ ë°˜í™˜
tu7 = (10, 20, 30)
tu8 = (40, 50, 60)

print(tu7 + tu8)
print(tu8 + tu7)

tu7 = tu7 + (40, 50, 60)
print(tu7)

print(tu7 * 3)

(10, 20, 30, 40, 50, 60)
(40, 50, 60, 10, 20, 30)
(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

# 5. ë©¤ë²„ì‹­ í…ŒìŠ¤íŠ¸
in ì—°ì‚°ìë¥¼ ì‚¬ìš©í•˜ì—¬ íŠœí”Œì— íŠ¹ì • ê°’ì´ ìˆëŠ”ì§€ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [ ]:
# ì»¬ë ‰ì…˜ì— í¬í•¨ë˜ì–´ ìˆëŠ” ìš”ì†Œì¸ì§€ í™•ì¸
print(2 in [2, 4, 6, 8, 10])
print(2 in (2, 4, 6, 8, 10))
print(7 in (2, 4, 6, 8, 10))
print("í•˜ì´" in ("í•˜ì´", "4", "6", "8", "10"))

True
True
False
True

# 6. íŠœí”Œì˜ ì •ë ¬
íŠœí”Œì€ sort() ë©”ì„œë“œë¥¼ ì œê³µí•˜ì§€ ì•ŠìŠµë‹ˆë‹¤. sorted() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [ ]:
tu9 = (10, 30, 100, 90, 50)
# tu10.sort() # íŠœí”Œì€ sort ë©”ì„œë“œê°€ ì¡´ì¬í•˜ì§€ ì•ŠìŒ
result = sorted(tu9, reverse = True) # ë‚´ë¦¼ì°¨ìˆœí•˜ì—¬ ë¦¬ìŠ¤íŠ¸ë¡œ ë°˜í™˜
print(result)
print(tu9) # ë³€ê²½ë˜ì§€ ì•Šì•˜ìŒ

# ë‹¤ì‹œ íŠœí”Œ í˜•íƒœë¡œ ì €ì¥
result = tuple(result)
print(result)

[100, 90, 50, 30, 10]
(10, 30, 100, 90, 50)
(100, 90, 50, 30, 10)