<a href="https://colab.research.google.com/github/JinLeeGG/AI_Project_Preparation/blob/main/1.%20Python%20Basics/Day5%20-%20Python%20Collection%20Type%20(Set)/6_Python_Collection_type_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://ryuzyproject.tistory.com/10

# 1. 세트
세트(set)는 중복되지 않는 항목들의 컬렉션입니다.

In [1]:
# 1. 생성
# 세트는 중괄호 {}를 사용하여 생성하거나 set() 생성자를 사용할 수 있습니다.

s1 = {1, 3, 5, 7}
print(s1)
print(type(s1))

{1, 3, 5, 7}
<class 'set'>

In [2]:
s2 = {}
print(s2)
print(type(s2))

{}
<class 'dict'>

In [3]:
s3 = set([1, 3, 5, 7])
print(s3)
print(type(s3))

{1, 3, 5, 7}
<class 'set'>

In [5]:
li4 = [1, 2, 3, 4]
print(type(li4))
s4 = set(li4)
print(s4)
print(type(s4))

<class 'list'>
{1, 2, 3, 4}
<class 'set'>

In [6]:
s5 = {1, 3, 5, 3, 7, 9, 1, 5, 10, 7}
print(s5)

{1, 3, 5, 7, 9, 10}

In [7]:
li6 = [1, 3, 5, 3, 7, 9, 1, 5, 10, 7]
print(li6)
s6 = set(li6)
print(s6)

[1, 3, 5, 3, 7, 9, 1, 5, 10, 7]
{1, 3, 5, 7, 9, 10}

# 2. 메소드
세트는 여러 메소드를 가지고 있습니다.

In [8]:
s1 = {1, 3, 5, 7}
print(s1)

# add(): 세트의 요소를 추가
s1.add(2)
print(s1)
s1.add(4)
print(s1)
s1.add(7)
print(s1)

{1, 3, 5, 7}
{1, 2, 3, 5, 7}
{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7}

In [9]:
s1 = {1, 3, 5, 7}
print(s1)

# update(): 세트에 여러 요소를 추가
s1.update([2, 3, 4, 6, 8, 10])
print(s1)

{1, 3, 5, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [10]:
s1 = {1, 3, 5, 7}
print(s1)

# remove(): 세트의 요소를 제거. 단 요소가 없으면 에러가 발생
s1.remove(3)
print(s1)
# s1.remove(3) # KeyError: 3

{1, 3, 5, 7}
{1, 5, 7}

In [11]:
s1 = {1, 3, 5, 7}
print(s1)

# discard(): 세트의 요소를 제거. 단 요소가 없어도 에러가 발생하지 않음
s1.discard(3)
print(s1)
s1.discard(3)
print(s1)

{1, 3, 5, 7}
{1, 5, 7}
{1, 5, 7}

In [12]:
s1 = {1, 3, 5, 7}
print(s1)

s2 = s1 # 메모리 주소를 복사
print(id(s1))
print(id(s2))

# copy(): 세트를 복사
s2 = s1.copy() # 값을 복사
print(s1)
print(s2)
print(id(s1))
print(id(s2))

{1, 3, 5, 7}
139652251836576
139652251836576
{1, 3, 5, 7}
{1, 3, 5, 7}
139652251836576
139652251835904

In [15]:
s3 = {10, 20, 30, 40, 50}
s4 = {30, 40, 50, 60, 70}

# union(): 합집합을 계산하여 반환
result1 = s3.union(s4)
print(result1)

result2 = s3 | s4
print(result2)

{70, 40, 10, 50, 20, 60, 30}
{70, 40, 10, 50, 20, 60, 30}

In [16]:
s3 = {10, 20, 30, 40, 50}
s4 = {30, 40, 50, 60, 70}

# intersection() : 교집합을 계산하여 반환
result1 = s3.intersection(s4)
print(result1)

result2 = s3 & s4
print(result2)

{40, 50, 30}
{40, 50, 30}

In [19]:
s3 = {10, 20, 30, 40, 50}
s4 = {30, 40, 50, 60, 70}

# difference(): 차집합을 계산하여 반환

result1 = s3.difference(s4)
print(result1)

result2 = s3 - s4
print(result2)

{10, 20}
{10, 20}

In [21]:
s3 = {10, 20, 30, 40, 50}
s4 = {30, 40, 50, 60, 70}

# symmetric_difference(): 대칭 차집합을 계산하여 반환
result1 = s3.symmetric_difference(s4)
print(result1)

result2 = s3 ^ s4
print(result2)

{20, 70, 10, 60}
{20, 70, 10, 60}