<a href="https://colab.research.google.com/github/JinLeeGG/AI_Project_Preparation/blob/main/1.%20Python%20Basics/15.Call%20back%2C%20Lambda%20functions/CodingExample/15_Call_back%2C_Lambda_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 콜백함수(callback function)
콜백 함수란 다른 함수에 인수로 전달되어 특정 작업이 끝난 후 호출되는 함수를 의미합니다. 어떤 작업이 완료된 후에 자동으로 호출되도록 미리 준비해둔 함수입니다. 따라서 직접적으로 호출하지 않고 특정 조건이나 이벤트가 발생할 때 실행되도록 설정합니다.

In [ ]:
def callback_func(func):  # 다른 함수의 주소를 매개변수로 넣는다.
    for i in range(5):    # 5번동안
        func()            # 그 주소의 함수를 실행시킨다.

def print_hello():
    print('Hello Python!')

# print_hello()

callback_func(print_hello)  #  callback_func에서 print_hello의 주소를 가져와서 그 주소의 함수를 5번 실행시킨다.

Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!

In [ ]:
def callback_func(func, num):
    for i in range(num):
        func(i)

def print_hello(num):
    print('hello Python!', num)

def print_hi(num):
    print('hi Python!', num)

callback_func(print_hello, 3)
callback_func(print_hi, 5)

hello Python! 0
hello Python! 1
hello Python! 2
hi Python! 0
hi Python! 1
hi Python! 2
hi Python! 3
hi Python! 4

# 2. 람다 함수(Lambda Function)
람다 함수는 파이썬에서 익명의 간단한 함수를 생성하기 위한 특별한 구문입니다. "익명의 함수"라는 것은 함수에 고유한 이름이 지정되지 않았음을 의미합니다. 람다 함수는 일반적인 함수(def를 사용하여 정의)와는 달리, 한 줄로 표현되는 짧고 간결한 함수를 생성할 때 주로 사용됩니다.

```
lambda 매개변수: 표현식
```

* 간결성: 람다 함수는 간단한 연산이나 작은 기능을 가진 함수를 간결하게 표현하는 데 유용합니다.

* 익명성: 람다 함수에는 명시적인 이름이 부여되지 않습니다. 그러나 필요에 따라 변수에 할당할 수 있습니다.

* 일회성: 일반적으로 특정 작업을 위한 일회성 함수로 사용됩니다.

In [ ]:
def square(x):
    return x**2

print(square(5))

25

In [ ]:
# lambda 매개변수: 표현식
square = lambda x: x**2  # 람다는 무조건 결과가 리턴형
print(square(5))

25

In [ ]:
(lambda x: x**2)(5)

25

In [ ]:
people = [
    {'name':'오렌지', 'age':30},
    {'name':'김사과', 'age':20},
    {'name':'반하나', 'age':25}
]

def sort_age(x):
    return x['age']

In [ ]:
people[0]

{'name': '오렌지', 'age': 30}

In [ ]:
sort_age(people[0]) # 0번 people 딕셔너리에 있는 내용을 때서 sorted_age 함수 안에 넣는다

30

In [ ]:
sorted_people = sorted(people, key = sort_age) # key 안에 콜백함수를 넣어서 people 리스트 안에 있는 내용마다 다 실행시켜준다.
print(sorted_people)

[{'name': '김사과', 'age': 20}, {'name': '반하나', 'age': 25}, {'name': '오렌지', 'age': 30}]

In [ ]:
sorted_people = sorted(people, key = lambda x: x['age'])
print(sorted_people)

[{'name': '김사과', 'age': 20}, {'name': '반하나', 'age': 25}, {'name': '오렌지', 'age': 30}]

# 3. 람다가 유용하게 사용되는 대표적인 함수

### 1. filter 함수
filter()는 파이썬의 내장 함수로, 주어진 함수의 조건을 만족하는 항목만으로 이루어진 이터레이터를 반환합니다. 이 함수는 주로 리스트나 다른 순차적인 데이터 타입에서 특정 조건을 만족하는 항목들만을 필터링할 때 사용됩니다.

In [ ]:
li = [2, 5, 7, 10, 15, 17, 20, 22, 25, 28]

def even(n):
    if n % 2 == 0:
        return True
    else:
        return False

result = list(filter(even, li)) # 한번만 체크할꺼인데 콜백함수는 비효율적이다.
print(result) # 주어진 함수의 조건을 만족하는 항목만으로 이루어진 이터레이터를 반환합니다

[2, 10, 20, 22, 28]

In [ ]:
result = list(filter(lambda n: n%2 == 0, li)) #람다로 해결가능
print(result)

[2, 10, 20, 22, 28]

### 2. map 함수
map()는 파이썬의 내장 함수로, 주어진 함수를 이터러블의 모든 항목에 적용하여 결과를 반환하는 이터레이터를 생성합니다. 이 함수는 주로 리스트나 다른 순차적인 데이터 타입의 항목 각각에 함수를 적용할 때 사용됩니다.

In [ ]:
# 함수를 모든 데이터에 적용하고 싶을때 맵 함수를 쓴다.

num = [1,2,3,4,5]
squared_num = list(map(lambda x: x**2, num)) # 1,2,3,4,5를 다 x**2에 대입시켜서 리턴해준다.
print(squared_num)

[1, 4, 9, 16, 25]

In [ ]:
li1 = [1, 2, 3]
li2 = [4, 5, 6]
sum = list(map(lambda x, y: x+y, li1, li2)) # 2개의 파라메터를 넣을 수 있다.
print(sum)

[5, 7, 9]

In [ ]:
words = ['apple', 'banana', 'cherry']
upper_words = list(map(lambda x: x.upper(), words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']