<a href="https://colab.research.google.com/github/JinLeeGG/AI_Project_Preparation/blob/main/1.%20Python%20Basics/15.Call%20back%2C%20Lambda%20functions/CodingExample/call_back%2C_lambda_function_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Call back function

In [1]:
def callback_func(func):
    for i in range(5):
      func()

def print_hello():
    print('Hello Python!')

callback_func(print_hello)

Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!

In [3]:
def callback_func(func, num):
    for i in range(num):
      func(i)

def print_hello(num):
    print('hello Python!', num)

def print_hi(num):
    print('hi Python!', num)

callback_func(print_hello, 3)
callback_func(print_hi, 5)

hello Python! 0
hello Python! 1
hello Python! 2
hi Python! 0
hi Python! 1
hi Python! 2
hi Python! 3
hi Python! 4

# Lambda function

In [6]:
def square(x):
    return x**2

print(square(5))

25

In [7]:
# lambda parameter : expression
square = lambda x: x**2 #lambda always returns value
print(square(5))

25

In [8]:
(lambda x:x**2)(5)

25

In [15]:
fruits = [
    {'name' : 'Orange', 'freshness':20},
    {'name' : 'Apple', 'freshness':30},
    {'name' : 'Banana', 'freshness':25}
]

def sort_freshness(x):
    return x['freshness']

In [12]:
fruits[0]

{'name': 'Orange', 'freshness': 20}

In [16]:
sort_freshness(fruits[0])

20

In [25]:
sorted_fruit = sorted(fruits, key=sort_freshness) #Call back function inside of Key
print(sorted_fruit)

[{'name': 'Orange', 'freshness': 20}, {'name': 'Banana', 'freshness': 25}, {'name': 'Apple', 'freshness': 30}]

In [27]:
sorted_fruit = sorted(fruits, key = lambda x:x['freshness'])
print(sorted_fruit)

[{'name': 'Orange', 'freshness': 20}, {'name': 'Banana', 'freshness': 25}, {'name': 'Apple', 'freshness': 30}]

# Lambda functions

In [30]:
# filter function

li = [22, 5, 7, 10, 23, 23, 120, 21, 11, 45]

def even(n):
    if n % 2 == 0:
        return True
    else:
        return False

result = list(filter(even, li)) # it is inefficent to use call back function to check only once
print(result) # returns iterater that only meets condition of the function

[22, 10, 120]

In [33]:
result = list(filter(lambda x: x%2 == 0, li)) # we can use lambda for memory efficiency
print(result)

[22, 10, 120]

In [34]:
# map functions
# use map when we want to apply function to all datas

num = [1, 2, 3, 4, 5]
squared_num = list(map(lambda x: x**2, num)) # take 1, 2, 3, 4, 5 and apply to x**2 and return
print(squared_num)

[1, 4, 9, 16, 25]

In [35]:
li1 = [1, 2, 3]
li2 = [4, 5, 6]

sum = list(map(lambda x, y: x+y, li1, li2)) # we can put two parameters by using map
print(sum)

[5, 7, 9]

In [36]:
words = ['apple', 'banana', 'cherry']
upper_words = list(map(lambda x: x.upper(), words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']