<a href="https://colab.research.google.com/github/JinLeeGG/AI_Project_Preparation/blob/main/1.%20Python%20Basics/06.Python%20Collection%20Type%20(Set)/CodingExample/Set_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Set
# Set is a collection of non-duplicated elements

s1 = {1, 3, 5, 7}
print(s1)
print(type(s1))

{1, 3, 5, 7}
<class 'set'>

In [3]:
# if nothing is inside of {}, it recognizes as dictionary
s2 = {}
print(s2)
print(type(s2))

{}
<class 'dict'>

In [5]:
# List --> Set
s3 = set([1,3,7,6])
print(s3)
print(type(s3))

{1, 3, 6, 7}
<class 'set'>

In [6]:
# Removes any duplicates
s5 = {1, 3, 5, 3, 7, 9, 1, 5, 10, 7}
print(s5)

{1, 3, 5, 7, 9, 10}

In [7]:
# If you want to remove duplicates from the list
li6 = [1, 3, 5, 3, 7, 9, 1, 5, 10, 7]
print(li6)
s6 = set(li6)
print(s6)

[1, 3, 5, 3, 7, 9, 1, 5, 10, 7]
{1, 3, 5, 7, 9, 10}

In [16]:
# Methods

s1 = {1, 3, 5, 7}
print(s1)

# add() : adding new element in set
s1.add(2)
print(s1)
s1.add(4)
print(s1)
s1.add(8)
print(s1)
s1.add("dd")
print(s1)

{1, 3, 5, 7}
{1, 2, 3, 5, 7}
{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7, 8}
{1, 2, 3, 4, 5, 7, 8, 'dd'}

In [14]:
s1 = {1, 3, 5, 7}
print(s1)

# update(): adding mulitiple elements in the set
s1.update([2,3,4,5,6,7,9,10])
print(s1)

{1, 3, 5, 7}
{1, 2, 3, 4, 5, 6, 7, 9, 10}

In [17]:
s1 = {1, 3, 5, 7}
print(s1)

# remove() : removing element inside of Set (causes err if there is no element)
s1.remove(3)
print(s1)
# s1.remove(3) # KeyError: 3

{1, 3, 5, 7}
{1, 5, 7}

In [18]:
s1 = {1, 3, 5, 7}
print(s1)

# discard() : removing element inside of Set (it does not cause err if there is no element)
s1.discard(3)
print(s1)
s1.discard(3)
print(s1)

{1, 3, 5, 7}
{1, 5, 7}
{1, 5, 7}

In [24]:
s1 = {1, 3, 5, 7}
print(s1)

s2 = s1
print(id(s1))
print(id(s2))

# copy(): copying Set
s2 = s1.copy()
print(s1)
print(s2)

print(id(s1))
print(id(s2))

{1, 3, 5, 7}
133377195626272
133377195626272
{1, 3, 5, 7}
{1, 3, 5, 7}
133377195626272
133376182353280

In [28]:
s3 = {10, 20, 30, 40, 50}
s4 = {30, 40, 50, 60, 70}

# union() : calcuates union of set
result = s3.union(s4)
print(result)

result2 = s3 | s4
print(result2)

{70, 40, 10, 50, 20, 60, 30}
{70, 40, 10, 50, 20, 60, 30}

In [32]:
s3 = {10, 20, 30, 40, 50}
s4 = {30, 40, 50, 60, 70}

# intersection() : calculates intersection of set
result1 = s3.intersection(s4)
print(result1)

result2 = s3 & s4
print(result2)

{40, 50, 30}
{40, 50, 30}

In [34]:
s3 = {10, 20, 30, 40, 50}
s4 = {30, 40, 50, 60, 70}

# difference() : calculates difference of set

result1 = s3.difference(s4)
print(result1)

result2 = s3 - s4
print(result2)

{10, 20}
{10, 20}

In [35]:
s3 = {10, 20, 30, 40, 50}
s4 = {30, 40, 50, 60, 70}

# symmetric_difference()
result1 = s3.symmetric_difference(s4)
print(result1)

result2 = s3 ^ s4
print(result2)

{20, 70, 10, 60}
{20, 70, 10, 60}

In [37]:
dic3 = {'no':1, 'userid':'apple', 'name':'John', 'hp':'010-1111-1111'}
print(dic3)

# pop(): take out sepecific element and returns it (causes err if there is no such key)
temp = dic3.pop('hp')
print(dic3)
print(temp)

{'no': 1, 'userid': 'apple', 'name': 'John', 'hp': '010-1111-1111'}
{'no': 1, 'userid': 'apple', 'name': 'John'}
010-1111-1111

In [38]:
dic3 = {'no':1, 'userid':'apple', 'name':'김사과', 'hp':'010-1111-1111'}
print(dic3)

# in: check if there is sepecific key
print('hp' in dic3)
print('010-1111-1111' in dic3)

{'no': 1, 'userid': 'apple', 'name': '김사과', 'hp': '010-1111-1111'}
True
False