<a href="https://colab.research.google.com/github/JinLeeGG/AI_Project_Preparation/blob/main/3.%20Data%20Analysis/02.%20Pandas/2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://ryuzyproject.tistory.com/36

# 1. 판다스(Pandas)
판다스(Pandas)는 데이터 분석을 위한 파이썬 라이브러리 중 하나로, 표 형태의 데이터나 다양한 형태의 데이터를 쉽게 처리하고 분석할 수 있도록 도와주는 도구입니다. 주로 데이터프레임(DataFrame)이라는 자료구조를 제공하며, 이를 통해 테이블 형태의 데이터를 다루기 용이합니다.

In [166]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [167]:
import pandas as pd

# 2. Series와 DataFrame

### 1. Series

Series는 1차원 배열과 같은 자료구조로 하나의 열을 나타냅니다. 또한 각 요소는 인덱스(index)와 값(value)으로 구성되어 있습니다. 값은 넘파이의 ndarray 기반으로 저장됩니다. Series는 다양한 데이터 타입을 가질 수 있으며 정수, 실수, 문자열 등 다양한 형태의 데이터를 담을 수 있습니다.

In [168]:
idx = ['김사과', '반하나', '오렌지', '이메론', '배애리']
data = [67, 75, 90, 62, 98]

# pd.Series(데이터, 인덱스, ...)
pd.Series(data)

0    67
1    75
2    90
3    62
4    98
dtype: int64

In [169]:
se1 = pd.Series(data, idx)
se1

김사과    67
반하나    75
오렌지    90
이메론    62
배애리    98
dtype: int64

In [170]:
# se1의 index 값을 출력
print(se1.index)
# se1의 value 값을 출력 (ndarray로 저장됨)
print(se1.values)
print(type(se1.values)) # value는 ndarray 이다.

Index(['김사과', '반하나', '오렌지', '이메론', '배애리'], dtype='object')
[67 75 90 62 98]
<class 'numpy.ndarray'>

### 2. DataFrame

데이터프레임(DataFrame)은 판다스(Pandas) 라이브러리에서 제공하는 중요하고 강력한 데이터 구조로, 2차원의 테이블 형태 데이터를 다루는 데 사용됩니다. 또한 각 요소는 인덱스(index), 열(column), 값(value)으로 구성되어 있습니다. 데이터프레임은 행과 열로 이루어져 있으며, 각 열은 다양한 데이터 타입을 가질 수 있습니다. 값은 넘파이의 ndarray 기반으로 저장됩니다.

In [171]:
data = [[67, 93, 91],
        [75, 68, 96],
        [87, 81, 82],
        [62, 70, 75],
        [98, 56, 87]]

indx = idx = ['김사과', '반하나', '오렌지', '이메론', '배애리']
col = ['국어', '영어', '수학']

In [172]:
# pd.DataFrame(데이터, 인덱스, 컬럼, ...)
pd.DataFrame(data)

    0   1   2
0  67  93  91
1  75  68  96
2  87  81  82
3  62  70  75
4  98  56  87

In [173]:
pd.DataFrame(data, idx)

      0   1   2
김사과  67  93  91
반하나  75  68  96
오렌지  87  81  82
이메론  62  70  75
배애리  98  56  87

In [174]:
pd.DataFrame(data, idx, col)

     국어  영어  수학
김사과  67  93  91
반하나  75  68  96
오렌지  87  81  82
이메론  62  70  75
배애리  98  56  87

In [175]:
# 매개변수의 이름을 적어주면 순서의 관계가 없다.
df = pd.DataFrame(index=idx, columns=col, data=data)
df

     국어  영어  수학
김사과  67  93  91
반하나  75  68  96
오렌지  87  81  82
이메론  62  70  75
배애리  98  56  87

In [176]:
print(df.index) # object type (문자가 들어가는건 모두 object. String이 존재하지 않음)
print(df.columns)
print(df.values) # ndarray

Index(['김사과', '반하나', '오렌지', '이메론', '배애리'], dtype='object')
Index(['국어', '영어', '수학'], dtype='object')
[[67 93 91]
 [75 68 96]
 [87 81 82]
 [62 70 75]
 [98 56 87]]

In [177]:
# 딕셔너리를 사용하여 데이터프레임을 생성하기
dic = {
    '국어':[67, 75, 76, 62, 98],
    '영어':[93, 68, 81, 70, 56],
    '수학':[91, 96, 82, 75, 87]
}

df = pd.DataFrame(data=dic, index=idx)
df

     국어  영어  수학
김사과  67  93  91
반하나  75  68  96
오렌지  76  81  82
이메론  62  70  75
배애리  98  56  87

# 3. CSV 파일 읽어오기
CSV 파일은 Comma-Separated Values(쉼표로 구분된 값) 파일의 약자로, 데이터를 단순한 텍스트 형식으로 저장하는 데 사용되는 파일 형식입니다.

In [178]:
df = pd.read_csv("/content/drive/MyDrive/Python_Computer Vision With AI/3. Data Analysis/data/idol.csv")
df

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587

In [179]:
type(df)

pandas.core.frame.DataFrame

# 4. 데이터프레임 기본 정보 알아보기

In [180]:
# 20 entries
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       20 non-null     object
 1   그룹       20 non-null     object
 2   소속사      19 non-null     object
 3   성별       20 non-null     object
 4   생년월일     20 non-null     object
 5   키        19 non-null     float64
 6   혈액형      19 non-null     object
 7   브랜드평판지수  20 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.4+ KB

In [181]:
# column 출력 (행)
df.columns

Index(['이름', '그룹', '소속사', '성별', '생년월일', '키', '혈액형', '브랜드평판지수'], dtype='object')

In [182]:
# 기존 column 교체
new_columns = ['name', 'group', 'company', 'gender', 'birthday', 'height', 'blood', 'brand']
df.columns = new_columns
df

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [183]:
# describe(): 통계 정보를 반환
# 50%는 데이터셋중에 딱 중간값 (실제존재하는 값)
# 25% , 75% 도 동일
# 숫자 정보만 나타낸다.
df.describe()

           height         brand
count   19.000000  2.000000e+01
mean   170.536842  2.700190e+06
std      7.225204  1.381919e+06
min    161.000000  1.680587e+06
25%    164.750000  1.887423e+06
50%    168.000000  2.074682e+06
75%    179.000000  2.623465e+06
max    182.000000  6.267302e+06

In [184]:
# 숫자정보 외에, 문자정보도 추가시킬수 있다.
df.describe(include=object) # Unique:중복없는값 Top: 최빈값, freq: 최빈값의 빈도

       name  group company gender    birthday blood
count    20     20      19     20          20    19
unique   20      6       5      2          20     4
top      지민  방탄소년단     빅히트     여자  1995-10-13     A
freq      1      5       7     13           1    11

In [185]:
# 원하는 개수의 데이터 보기
df.head() # 상위 5개의 row를 출력

  name  group company gender    birthday  height blood    brand
0   지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1   정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2   민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3   하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4    뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048

In [186]:
df.tail() # 하위 5개의 row를 출력

    name  group company gender    birthday  height blood    brand
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [187]:
df.tail(2) # 하위 2개의 row를 출력

    name  group company gender    birthday  height blood    brand
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [188]:
# 정렬하기
df.sort_index() # index로 오름차순 정렬: 기본값

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [189]:
df.sort_index(ascending=False) # index로 내림차순 정렬

    name  group company gender    birthday  height blood    brand
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302

In [190]:
# 특정 값을이용해서 정렬
df.sort_values(by='height', ascending=False) # 키로 내림차순 정렬

    name  group company gender    birthday  height blood    brand
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866

In [191]:
# NAN은 맨 밑으로 고정된다.
df.sort_values(by='height') # 키로 오름차순 정렬

    name  group company gender    birthday  height blood    brand
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866

In [192]:
 # 키로 내림차순 정렬. NaN을 위로 올림
df.sort_values(by='height', ascending=False, na_position='first')

    name  group company gender    birthday  height blood    brand
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767

In [193]:
# 1차 정렬: 키(내림차순),
# 2차 정렬 (같은 키일떄): 브랜드(내림차순)
df.sort_values(by=['height', 'brand'], ascending=[False, False], na_position='last')

    name  group company gender    birthday  height blood    brand
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866

# 5. 데이터 다루기

In [194]:
df.head()

  name  group company gender    birthday  height blood    brand
0   지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1   정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2   민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3   하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4    뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048

In [195]:
df['blood'] # df.blood (동일)

0       A
1       A
2       A
3       O
4      AB
5     NaN
6       O
7       A
8       B
9       A
10      A
11      B
12      A
13      A
14      B
15      B
16      A
17      A
18      A
19      O
Name: blood, dtype: object

In [196]:
type(df['blood'])

pandas.core.series.Series

In [197]:
df.head(3)

  name  group company gender    birthday  height blood    brand
0   지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1   정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2   민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081

In [198]:
df[:3]

  name  group company gender    birthday  height blood    brand
0   지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1   정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2   민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081

In [199]:
# loc 인덱싱: 컬럼 인덱싱
df.loc[:, 'name'] # 전체행, 열은 이름만
# df['name'] or df.name

0       지민
1       정국
2       민지
3       하니
4        뷔
5      다니엘
6       혜인
7       지수
8       해린
9       태연
10      RM
11      제니
12     옹성우
13      리사
14      로제
15      윤아
16      조이
17      슬기
18    강다니엘
19       진
Name: name, dtype: object

In [200]:
# 2~5까지 가져오기 (끝 번호를 포함한 index 번호이다.)
df.loc[2:5, 'name'] # 5번을 포함

2     민지
3     하니
4      뷔
5    다니엘
Name: name, dtype: object

In [201]:
# 여러 columns 를 가져올수 있다. (슬라이싱)
df.loc[2:5, ['name', 'gender', 'height']]

  name gender  height
2   민지     여자   169.0
3   하니     여자   161.7
4    뷔     남자   179.0
5  다니엘     여자   165.0

In [202]:
df.loc[[2,5], ['name', 'gender', 'height']]

  name gender  height
2   민지     여자   169.0
5  다니엘     여자   165.0

In [203]:
df.loc[[2,5], 'name':'height']

  name group company gender    birthday  height
2   민지   뉴진스     어도어     여자  2004-05-07   169.0
5  다니엘   뉴진스     어도어     여자  2005-04-11   165.0

In [204]:
# iloc 인덱싱: index로 인덱싱
df.iloc[:, 0] # 다 포함하되 0번 콜롬만 가져오기

0       지민
1       정국
2       민지
3       하니
4        뷔
5      다니엘
6       혜인
7       지수
8       해린
9       태연
10      RM
11      제니
12     옹성우
13      리사
14      로제
15      윤아
16      조이
17      슬기
18    강다니엘
19       진
Name: name, dtype: object

In [205]:
df.iloc[:, 0:3] # 3을 포함하지 않음 (이건 범위를 포함하지 않는다)

    name  group company
0     지민  방탄소년단     빅히트
1     정국  방탄소년단     빅히트
2     민지    뉴진스     어도어
3     하니    뉴진스     어도어
4      뷔  방탄소년단     빅히트
5    다니엘    뉴진스     어도어
6     혜인    뉴진스     어도어
7     지수   블랙핑크     와이지
8     해린    뉴진스     어도어
9     태연   소녀시대     에스엠
10    RM  방탄소년단     빅히트
11    제니   블랙핑크     와이지
12   옹성우    워너원    판타지오
13    리사   블랙핑크     와이지
14    로제   블랙핑크     와이지
15    윤아   소녀시대     에스엠
16    조이   레드벨벳     빅히트
17    슬기   레드벨벳     빅히트
18  강다니엘    워너원     NaN
19     진  방탄소년단     빅히트

In [206]:
df.iloc[:, [0, 3]] # 0, 3콜롬

    name gender
0     지민     남자
1     정국     남자
2     민지     여자
3     하니     여자
4      뷔     남자
5    다니엘     여자
6     혜인     여자
7     지수     여자
8     해린     여자
9     태연     여자
10    RM     남자
11    제니     여자
12   옹성우     남자
13    리사     여자
14    로제     여자
15    윤아     여자
16    조이     여자
17    슬기     여자
18  강다니엘     남자
19     진     남자

In [207]:
df.iloc[1:5, 0:2] # 1~5가 되기 직전까지, 0부터 2가되기 직전까지

  name  group
1   정국  방탄소년단
2   민지    뉴진스
3   하니    뉴진스
4    뷔  방탄소년단

In [208]:
# 모든 데이터를 True False로 나눈다.
df['height'] >= 180 # 키가 180이 넘는사람들

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18     True
19    False
Name: height, dtype: bool

In [209]:
df[df['height'] >= 180] # 키가 180이 넘는 사람의 데이터 출력

    name  group company gender    birthday  height blood    brand
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444

In [210]:
# 키가 180이 넘는 사람의 이름만 보고싶다면
df[df['height'] >= 180]['name'] # df['name'][df['height'] >= 180] (같은 아웃풋)

10      RM
18    강다니엘
Name: name, dtype: object

In [211]:
# 180이 넘는 사람의 이름, 성별, 키를 불러와
df[df['height'] >= 180][['name', 'gender', 'height']]

    name gender  height
10    RM     남자   181.0
18  강다니엘     남자   182.0

In [212]:
# loc 이용해서 데이터 전처리
df.loc[df['height'] >= 180, ['name', 'gender', 'height']]

    name gender  height
10    RM     남자   181.0
18  강다니엘     남자   182.0

In [213]:
company = ['빅히트', '어도어']
df['company'].isin(company)

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7     False
8      True
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16     True
17     True
18    False
19     True
Name: company, dtype: bool

In [214]:
df[df['company'].isin(company)] # df.loc[df['company'].isin(company),:]

   name  group company gender    birthday  height blood    brand
0    지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1    정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2    민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3    하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4     뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5   다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6    혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
8    해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
10   RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
16   조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17   슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
19    진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

# 6. 결측값
결측값은 값이 누락된 데이터를 의미하며, 판다스에서는 일반적으로 NaN으로 표시됩니다.

In [215]:
df.info()
# 19라고 되어있으면 1개씩 빠진거다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      20 non-null     object
 1   group     20 non-null     object
 2   company   19 non-null     object
 3   gender    20 non-null     object
 4   birthday  20 non-null     object
 5   height    19 non-null     float64
 6   blood     19 non-null     object
 7   brand     20 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.4+ KB

In [216]:
df.isna() # 전체데이터에서 nan만 true로 나온다.

     name  group  company  gender  birthday  height  blood  brand
0   False  False    False   False     False   False  False  False
1   False  False    False   False     False   False  False  False
2   False  False    False   False     False   False  False  False
3   False  False    False   False     False   False  False  False
4   False  False    False   False     False   False  False  False
5   False  False    False   False     False   False   True  False
6   False  False    False   False     False   False  False  False
7   False  False    False   False     False   False  False  False
8   False  False    False   False     False   False  False  False
9   False  False    False   False     False    True  False  False
10  False  False    False   False     False   False  False  False
11  False  False    False   False     False   False  False  False
12  False  False    False   False     False   False  False  False
13  False  False    False   False     False   False  False  False
14  False  False    False   False     False   False  False  False
15  False  False    False   False     False   False  False  False
16  False  False    False   False     False   False  False  False
17  False  False    False   False     False   False  False  False
18  False  False     True   False     False   False  False  False
19  False  False    False   False     False   False  False  False

In [217]:
df.isnull() # NaN을 True

     name  group  company  gender  birthday  height  blood  brand
0   False  False    False   False     False   False  False  False
1   False  False    False   False     False   False  False  False
2   False  False    False   False     False   False  False  False
3   False  False    False   False     False   False  False  False
4   False  False    False   False     False   False  False  False
5   False  False    False   False     False   False   True  False
6   False  False    False   False     False   False  False  False
7   False  False    False   False     False   False  False  False
8   False  False    False   False     False   False  False  False
9   False  False    False   False     False    True  False  False
10  False  False    False   False     False   False  False  False
11  False  False    False   False     False   False  False  False
12  False  False    False   False     False   False  False  False
13  False  False    False   False     False   False  False  False
14  False  False    False   False     False   False  False  False
15  False  False    False   False     False   False  False  False
16  False  False    False   False     False   False  False  False
17  False  False    False   False     False   False  False  False
18  False  False     True   False     False   False  False  False
19  False  False    False   False     False   False  False  False

In [218]:
df.notnull() # NaN이 False

    name  group  company  gender  birthday  height  blood  brand
0   True   True     True    True      True    True   True   True
1   True   True     True    True      True    True   True   True
2   True   True     True    True      True    True   True   True
3   True   True     True    True      True    True   True   True
4   True   True     True    True      True    True   True   True
5   True   True     True    True      True    True  False   True
6   True   True     True    True      True    True   True   True
7   True   True     True    True      True    True   True   True
8   True   True     True    True      True    True   True   True
9   True   True     True    True      True   False   True   True
10  True   True     True    True      True    True   True   True
11  True   True     True    True      True    True   True   True
12  True   True     True    True      True    True   True   True
13  True   True     True    True      True    True   True   True
14  True   True     True    True      True    True   True   True
15  True   True     True    True      True    True   True   True
16  True   True     True    True      True    True   True   True
17  True   True     True    True      True    True   True   True
18  True   True    False    True      True    True   True   True
19  True   True     True    True      True    True   True   True

In [219]:
df['height'].isna() #height만 nan

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: height, dtype: bool

In [220]:
df[df['height'].isna()] # height가 nan인것만 뽑기

  name group company gender    birthday  height blood    brand
9   태연  소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866

In [221]:
df[df['height'].isna()]['name'] # height가 nan인것중 이름만 뽑기

9    태연
Name: name, dtype: object

In [222]:
df[df['height'].notnull()] # height값이 nan이 아닌사람만 뽑기
# df[~df['height'].isnull()]  # 같은결과

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [223]:
# loc로 df에 company가 nan이 아닌 사람을 찾고 name, company, group, gender 항목만 뽑기
df.loc[df['company'].notnull(), ['name', 'company', 'group', 'gender']]

   name company  group gender
0    지민     빅히트  방탄소년단     남자
1    정국     빅히트  방탄소년단     남자
2    민지     어도어    뉴진스     여자
3    하니     어도어    뉴진스     여자
4     뷔     빅히트  방탄소년단     남자
5   다니엘     어도어    뉴진스     여자
6    혜인     어도어    뉴진스     여자
7    지수     와이지   블랙핑크     여자
8    해린     어도어    뉴진스     여자
9    태연     에스엠   소녀시대     여자
10   RM     빅히트  방탄소년단     남자
11   제니     와이지   블랙핑크     여자
12  옹성우    판타지오    워너원     남자
13   리사     와이지   블랙핑크     여자
14   로제     와이지   블랙핑크     여자
15   윤아     에스엠   소녀시대     여자
16   조이     빅히트   레드벨벳     여자
17   슬기     빅히트   레드벨벳     여자
19    진     빅히트  방탄소년단     남자

In [224]:
df['height'] # nan 값이 하나 있다.

0     174.0
1     179.0
2     169.0
3     161.7
4     179.0
5     165.0
6     170.0
7     162.0
8     164.5
9       NaN
10    181.0
11    163.0
12    179.0
13    167.0
14    168.0
15    168.0
16    168.0
17    161.0
18    182.0
19    179.0
Name: height, dtype: float64

In [225]:
# 값을 채워넣고싶을 경우
# fillna(): 결측값을 채워넣는 함수
df['height'].fillna(0) # df['height'].fillna(0, inplace=True) 이렇게하면 데이터가 변화가 된다.

0     174.0
1     179.0
2     169.0
3     161.7
4     179.0
5     165.0
6     170.0
7     162.0
8     164.5
9       0.0
10    181.0
11    163.0
12    179.0
13    167.0
14    168.0
15    168.0
16    168.0
17    161.0
18    182.0
19    179.0
Name: height, dtype: float64

In [226]:
# fillna는 값을 변형시켜주지 않는다.
df['height'] # 오리지널 데이터

0     174.0
1     179.0
2     169.0
3     161.7
4     179.0
5     165.0
6     170.0
7     162.0
8     164.5
9       NaN
10    181.0
11    163.0
12    179.0
13    167.0
14    168.0
15    168.0
16    168.0
17    161.0
18    182.0
19    179.0
Name: height, dtype: float64

In [227]:
df_copy = df.copy() # 데이터 복사
df_copy # 다른 메모리에 저장된다

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [228]:
height = df_copy['height'].mean() # 키의 평균값
height

np.float64(170.53684210526316)

In [229]:
df_copy['height'] = df_copy['height'].fillna(height) #nan 키에 평균값 넣기
df_copy

    name  group company gender    birthday      height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13  174.000000     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01  179.000000     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07  169.000000     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06  161.700000     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30  179.000000    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11  165.000000   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21  170.000000     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03  162.000000     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15  164.500000     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09  170.536842     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12  181.000000     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16  163.000000     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25  179.000000     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27  167.000000     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11  168.000000     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30  168.000000     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03  168.000000     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10  161.000000     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10  182.000000     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04  179.000000     O  1680587

In [230]:
df_copy = df.copy() #카피를 원본으로 바꾸기
df_copy['height']

0     174.0
1     179.0
2     169.0
3     161.7
4     179.0
5     165.0
6     170.0
7     162.0
8     164.5
9       NaN
10    181.0
11    163.0
12    179.0
13    167.0
14    168.0
15    168.0
16    168.0
17    161.0
18    182.0
19    179.0
Name: height, dtype: float64

In [231]:
height = df_copy['height'].median() # 50% 값, 중위
height

168.0

In [232]:
df_copy['height'].fillna(height, inplace=True) # 카피에 적용
df_copy['height']

0     174.0
1     179.0
2     169.0
3     161.7
4     179.0
5     165.0
6     170.0
7     162.0
8     164.5
9     168.0
10    181.0
11    163.0
12    179.0
13    167.0
14    168.0
15    168.0
16    168.0
17    161.0
18    182.0
19    179.0
Name: height, dtype: float64

In [233]:
df_copy = df.copy()
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [234]:
# 삭제
# dropna(): 결측값이 있는 행 또는 열을 제거. 결측값이 한개라도 있는 경우 삭제
# axis = 0 (행 삭제, 기본값)
df_copy.dropna() # 결측값이 있는 열을 제거

   name  group company gender    birthday  height blood    brand
0    지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1    정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2    민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3    하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4     뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
6    혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7    지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8    해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
10   RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11   제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12  옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13   리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14   로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15   윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16   조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17   슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
19    진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [235]:
df_copy.dropna(axis=1) # 결측값이 있는 열을 제거

    name  group gender    birthday    brand
0     지민  방탄소년단     남자  1995-10-13  6267302
1     정국  방탄소년단     남자  1997-09-01  5805844
2     민지    뉴진스     여자  2004-05-07  4437081
3     하니    뉴진스     여자  2004-10-06  4161153
4      뷔  방탄소년단     남자  1995-12-30  3470048
5    다니엘    뉴진스     여자  2005-04-11  2341271
6     혜인    뉴진스     여자  2008-04-21  2301785
7     지수   블랙핑크     여자  1995-01-03  2227460
8     해린    뉴진스     여자  2006-05-15  2173376
9     태연   소녀시대     여자  1989-03-09  2079866
10    RM  방탄소년단     남자  1994-09-12  2069499
11    제니   블랙핑크     여자  1996-01-16  2069250
12   옹성우    워너원     남자  1995-08-25  1954327
13    리사   블랙핑크     여자  1997-03-27  1912800
14    로제   블랙핑크     여자  1997-02-11  1888132
15    윤아   소녀시대     여자  1990-05-30  1885297
16    조이   레드벨벳     여자  1996-09-03  1830514
17    슬기   레드벨벳     여자  1994-02-10  1741767
18  강다니엘    워너원     남자  1996-12-10  1706444
19     진  방탄소년단     남자  1992-12-04  1680587

### ※ axis

1. NumPy는 수학적 배열 연산에서 출발했기 때문에, 축(axis) 개념이 배열의 모양과 연산 방향에 초점을 맞춥니다.

  - axis=0: 배열의 세로 방향(열), axis=1: 배열의 가로 방향(행)



2. Pandas는 데이터 분석에 특화된 라이브러리로, 행(row)과 열(column)을 명시적으로 구분하여 작업을 수행합니다.

  - axis=0: 행(row)을 대상으로 작업(열 간 연산). axis=1: 열(column)을 대상으로 작업(행 간 연산)

# 7. 행, 열 추가 및 삭제하기

In [236]:
df_copy = df.copy()
df_copy # 다시 카피

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [237]:
dic = {
    'name': '김사과',
    'group': '과수원',
    'company': '애플',
    'gender': '여자',
    'birthday': '2000-01-01',
    'height': 160.0,
    'blood': 'A',
    'brand': 1234567
}

In [238]:
# concat(): 데이터를 합침, axis=0 (행, 기본값)
df_copy = pd.concat([df_copy, pd.DataFrame(dic, index=[0])], ignore_index=True) # Dataframe을 하나 만들어서 기존 데이터에 합치기
# ignore_index=True 는 인덱스 충돌을 방지한다. (알아서 자동적용)
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
20   김사과    과수원      애플     여자  2000-01-01   160.0     A  1234567

In [239]:
# 열 만들기
df_copy['nation'] = '대한민국' # 새로운 열 만들기
df_copy

    name  group company gender    birthday  height blood    brand nation
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302   대한민국
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844   대한민국
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081   대한민국
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153   대한민국
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048   대한민국
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271   대한민국
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785   대한민국
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460   대한민국
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376   대한민국
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866   대한민국
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499   대한민국
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250   대한민국
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327   대한민국
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800   대한민국
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132   대한민국
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297   대한민국
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514   대한민국
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767   대한민국
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444   대한민국
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587   대한민국
20   김사과    과수원      애플     여자  2000-01-01   160.0     A  1234567   대한민국

In [240]:
df_copy.tail() # 끝 자리 몇개의 데이터만 가져오기

    name  group company gender    birthday  height blood    brand nation
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514   대한민국
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767   대한민국
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444   대한민국
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587   대한민국
20   김사과    과수원      애플     여자  2000-01-01   160.0     A  1234567   대한민국

In [241]:
# 김사과의 nation을 변경하는법
df_copy.loc[df_copy['name'] == '김사과', 'nation'] = '미국' # 김사과의 nation만 뽑아서 미국으로할당
df_copy.tail()

    name  group company gender    birthday  height blood    brand nation
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514   대한민국
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767   대한민국
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444   대한민국
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587   대한민국
20   김사과    과수원      애플     여자  2000-01-01   160.0     A  1234567     미국

In [242]:
# 행 제거하기
df_copy.drop(20, axis=0) #열은 axis=1

    name  group company gender    birthday  height blood    brand nation
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302   대한민국
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844   대한민국
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081   대한민국
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153   대한민국
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048   대한민국
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271   대한민국
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785   대한민국
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460   대한민국
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376   대한민국
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866   대한민국
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499   대한민국
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250   대한민국
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327   대한민국
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800   대한민국
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132   대한민국
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297   대한민국
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514   대한민국
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767   대한민국
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444   대한민국
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587   대한민국

In [243]:
df_copy.tail() #드랍도 inplace를 안쓰면 적용이 안된다.

    name  group company gender    birthday  height blood    brand nation
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514   대한민국
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767   대한민국
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444   대한민국
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587   대한민국
20   김사과    과수원      애플     여자  2000-01-01   160.0     A  1234567     미국

In [244]:
# 여러개를 지우기
df_copy.drop([1, 3, 5, 7, 20], axis=0) # 리스트를 사용해서 여러개를 지울수 있다.

    name  group company gender    birthday  height blood    brand nation
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302   대한민국
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081   대한민국
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048   대한민국
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785   대한민국
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376   대한민국
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866   대한민국
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499   대한민국
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250   대한민국
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327   대한민국
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800   대한민국
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132   대한민국
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297   대한민국
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514   대한민국
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767   대한민국
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444   대한민국
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587   대한민국

In [245]:
# 열 제거하기
df_copy.drop('nation', axis=1)

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587
20   김사과    과수원      애플     여자  2000-01-01   160.0     A  1234567

In [246]:
# 여러 열 제거
df_copy.drop(['nation', 'group'], axis=1)

    name company gender    birthday  height blood    brand
0     지민     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지     어도어     여자  2004-05-07   169.0     A  4437081
3     하니     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인     어도어     여자  2008-04-21   170.0     O  2301785
7     지수     와이지     여자  1995-01-03   162.0     A  2227460
8     해린     어도어     여자  2006-05-15   164.5     B  2173376
9     태연     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사     와이지     여자  1997-03-27   167.0     A  1912800
14    로제     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘     NaN     남자  1996-12-10   182.0     A  1706444
19     진     빅히트     남자  1992-12-04   179.0     O  1680587
20   김사과      애플     여자  2000-01-01   160.0     A  1234567

# 8. 통계 함수

In [247]:
df_copy.describe() # 숫자 관련된 통계값이 나오는 함수

           height         brand
count   20.000000  2.100000e+01
mean   170.010000  2.630399e+06
std      7.416688  1.384378e+06
min    160.000000  1.234567e+06
25%    164.125000  1.885297e+06
50%    168.000000  2.069499e+06
75%    179.000000  2.341271e+06
max    182.000000  6.267302e+06

In [248]:
df_copy['height'].sum() # 이 키의 합계

np.float64(3400.2)

In [249]:
df_copy['height'].count() # 개수, NaN은 포함되지 않음

np.int64(20)

In [250]:
df_copy['height'].mean() # 평균

np.float64(170.01)

In [251]:
df_copy['height'].median() # 중앙값

168.0

### ※ 평균과 중앙값

평균은 모든 데이터를 더한 후, 데이터 개수로 나눈 값입니다. 데이터를 고르게 분배했을 때, 한 데이터가 가질 수 있는 이론적인 중심값을 의미합니다. 중앙값은 데이터를 크기 순서대로 정렬했을 때, 가운데 위치하는 값입니다. 데이터의 순서에만 영향을 받고, 값의 크기에는 영향을 받지 않습니다. 데이터가 고르게 분포된 경우 평균과 중앙값이 비슷하거나 같습니다. 하지만 데이터에 극단값(Outlier)이 있는 경우 평균은 극단값의 영향을 받아 왜곡될 수 있지만, 중앙값은 비교적 안정적입니다.

In [252]:
df_copy['height'].max() # 최대값

182.0

In [253]:
df_copy['height'].min() # 최소값

160.0

In [254]:
df_copy['height'].var() # 분산

55.007263157894734

In [255]:
df_copy['height'].std() # 표준편차

7.416688152935563

 ### ※ 분산과 표준편차

분산(Variance)과 표준편차(Standard Deviation)는 데이터가 평균에서 얼마나 퍼져 있는지를 나타내는 산포도(분포 정도)를 측정하는 지표입니다. 분산은 데이터가 평균을 기준으로 얼마나 퍼져 있는지를 나타냅니다. 평균에서 각 데이터의 거리를 제곱한 값들의 평균입니다. 표준편차는 분산의 제곱근입니다. 분산은 제곱 값이기 때문에 단위가 커질 수 있는데, 이를 원래 데이터와 같은 단위로 변환하기 위해 제곱근을 씌웁니다.

![image.png]()

# 9. 그룹

In [256]:
df_copy

    name  group company gender    birthday  height blood    brand nation
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302   대한민국
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844   대한민국
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081   대한민국
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153   대한민국
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048   대한민국
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271   대한민국
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785   대한민국
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460   대한민국
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376   대한민국
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866   대한민국
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499   대한민국
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250   대한민국
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327   대한민국
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800   대한민국
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132   대한민국
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297   대한민국
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514   대한민국
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767   대한민국
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444   대한민국
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587   대한민국
20   김사과    과수원      애플     여자  2000-01-01   160.0     A  1234567     미국

In [257]:
# 데이터를 특정 어떤 조건에 따라서 묶어서 분석하고 싶을때 그룹화를 한다.
# groupby(): 데이터를 그룹으로 묶어 분석할 때 사용
df_copy.groupby('group') # 그룹끼리 데이터를 나눠놓은 객체가 만들어진다.

In [258]:
df_copy.groupby('group').count() # 그룹별 개수 카운트

       name  company  gender  birthday  height  blood  brand  nation
group
과수원       1        1       1         1       1      1      1       1
뉴진스       5        5       5         5       5      4      5       5
레드벨벳      2        2       2         2       2      2      2       2
방탄소년단     5        5       5         5       5      5      5       5
블랙핑크      4        4       4         4       4      4      4       4
소녀시대      2        2       2         2       1      2      2       2
워너원       2        1       2         2       2      2      2       2

In [259]:
# 그룹의 평균
df_copy.groupby('group').mean(numeric_only=True) # 숫자끼리만 평균을 구하기 (문자열 제외)

       height      brand
group
과수원    160.00  1234567.0
뉴진스    166.04  3082933.2
레드벨벳   164.50  1786140.5
방탄소년단  178.40  3858656.0
블랙핑크   165.00  2024410.5
소녀시대   168.00  1982581.5
워너원    180.50  1830385.5

In [260]:
# 그룹의 덧셈
df_copy.groupby('group').sum(numeric_only=True) # 숫자끼리만 덧샘 구하기 (문자열 제외)

       height     brand
group
과수원     160.0   1234567
뉴진스     830.2  15414666
레드벨벳    329.0   3572281
방탄소년단   892.0  19293280
블랙핑크    660.0   8097642
소녀시대    168.0   3965163
워너원     361.0   3660771

In [261]:
# 성별의 그룹을 맺고, 평균을 내기
df_copy.groupby('gender').mean(numeric_only=True)

            height         brand
gender
남자      179.000000  3.279150e+06
여자      165.169231  2.306023e+06

In [262]:
# 1차 그룹: 혈액형, 2차: 성별 후 평균 구하기
df_copy.groupby(['blood','gender']).mean(numeric_only=True)

               height         brand
blood gender
A     남자      179.000  3.560683e+06
      여자      164.500  2.209151e+06
AB    남자      179.000  3.470048e+06
B     여자      165.875  2.004014e+06
O     남자      179.000  1.680587e+06
      여자      165.850  3.231469e+06

In [263]:
# 브랜드 데이터 빼기
df_copy.groupby(['blood','gender'])['height'].mean()

blood  gender
A      남자        179.000
       여자        164.500
AB     남자        179.000
B      여자        165.875
O      남자        179.000
       여자        165.850
Name: height, dtype: float64

# **10. 중복값 제거하기**

In [264]:
df_copy['blood']

0       A
1       A
2       A
3       O
4      AB
5     NaN
6       O
7       A
8       B
9       A
10      A
11      B
12      A
13      A
14      B
15      B
16      A
17      A
18      A
19      O
20      A
Name: blood, dtype: object

In [265]:
# 중복값을 제거해주는 함수
# drop_duplicates(): 중복된 데이터를 제거
df_copy['blood'].drop_duplicates() # nan포함, index값은 가장 첫번째로 나온 값의 index이다.

0      A
3      O
4     AB
5    NaN
8      B
Name: blood, dtype: object

In [266]:
df_copy['blood'].drop_duplicates(keep='last') # 마지막으로 나온 값의 index

4      AB
5     NaN
15      B
19      O
20      A
Name: blood, dtype: object

In [267]:
# value_counts(): 열의 각 값에 대한 데이터의 개수를 반환. 기본은 NaN을 생략
df_copy['blood'].value_counts()

blood
A     12
B      4
O      3
AB     1
Name: count, dtype: int64

In [268]:
# 연애인 소속사
df_copy['company'].value_counts() # 기본적으로 nan은 드랍된다.

company
빅히트     7
어도어     5
와이지     4
에스엠     2
판타지오    1
애플      1
Name: count, dtype: int64

In [269]:
df_copy['company'].value_counts(dropna=False) # NaN 포함

company
빅히트     7
어도어     5
와이지     4
에스엠     2
판타지오    1
NaN     1
애플      1
Name: count, dtype: int64

# 11. 데이터프레임 합치기

아래 파일을 다운받고 추가로 구글드라이브에 업로드합니다.

In [270]:
df1 = pd.read_csv('/content/drive/MyDrive/Python_Computer Vision With AI/3. Data Analysis/data/idol.csv')
df2 = pd.read_csv('/content/drive/MyDrive/Python_Computer Vision With AI/3. Data Analysis/data/idol2.csv')

In [271]:
df1

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587

In [272]:
df2

      이름    연봉  가족수
0     지민  3000    3
1     정국  3500    3
2     민지  3200    4
3     하니  3050    4
4      뷔  4300    3
5    다니엘  2900    5
6     혜인  3400    6
7     지수  4500    5
8     해린  4200    4
9     태연  4300    4
10    RM  3700    3
11    제니  3850    5
12   옹성우  3900    4
13    리사  4100    3
14    로제  4150    3
15    윤아  3000    3
16    조이  3500    3
17    슬기  3200    4
18  강다니엘  3050    4
19     진  4300    3

In [273]:
df_copy = df1.copy()

In [274]:
pd.concat([df1, df_copy]) # df1에 df1 복사본을 합치기 (인덱스값이 이상해진다.)

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587

In [275]:
df_concat = pd.concat([df1,df_copy]) # 다시 합친값

# reset_index(): index를 새롭게 적용
# drop=True 옵션을 사용하여 기존 index가 컬럼으로 만들어지는 것을 방지

df_concat.reset_index(drop=True) # 인덱스값을 리셋시켜준다.

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587
20    지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302
21    정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844
22    민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081
23    하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153
24     뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048
25   다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271
26    혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785
27    지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460
28    해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376
29    태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866
30    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499
31    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250
32   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327
33    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800
34    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132
35    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297
36    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514
37    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767
38  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444
39     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587

In [276]:
pd.concat([df1, df2], axis=1) # 열 모양으로 결합. index값끼리 합쳐진다.

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수    이름    연봉  가족수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302    지민  3000    3
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844    정국  3500    3
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081    민지  3200    4
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153    하니  3050    4
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048     뷔  4300    3
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271   다니엘  2900    5
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785    혜인  3400    6
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460    지수  4500    5
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376    해린  4200    4
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866    태연  4300    4
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499    RM  3700    3
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250    제니  3850    5
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327   옹성우  3900    4
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800    리사  4100    3
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132    로제  4150    3
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297    윤아  3000    3
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514    조이  3500    3
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767    슬기  3200    4
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444  강다니엘  3050    4
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587     진  4300    3

In [277]:
df3 = df2.drop([1,3,5,7,9]) # 1,3,5,7,9 행을 제거
df3

      이름    연봉  가족수
0     지민  3000    3
2     민지  3200    4
4      뷔  4300    3
6     혜인  3400    6
8     해린  4200    4
10    RM  3700    3
11    제니  3850    5
12   옹성우  3900    4
13    리사  4100    3
14    로제  4150    3
15    윤아  3000    3
16    조이  3500    3
17    슬기  3200    4
18  강다니엘  3050    4
19     진  4300    3

In [278]:
pd.concat([df1, df3], axis=1) # 빈 값이 있을경우 idx값으로 합쳐진후 없는경우 NaN으로 변경된다.

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수    이름      연봉  가족수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302    지민  3000.0  3.0
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844   NaN     NaN  NaN
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081    민지  3200.0  4.0
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153   NaN     NaN  NaN
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048     뷔  4300.0  3.0
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271   NaN     NaN  NaN
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785    혜인  3400.0  6.0
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460   NaN     NaN  NaN
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376    해린  4200.0  4.0
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866   NaN     NaN  NaN
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499    RM  3700.0  3.0
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250    제니  3850.0  5.0
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327   옹성우  3900.0  4.0
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800    리사  4100.0  3.0
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132    로제  4150.0  3.0
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297    윤아  3000.0  3.0
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514    조이  3500.0  3.0
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767    슬기  3200.0  4.0
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444  강다니엘  3050.0  4.0
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587     진  4300.0  3.0

In [279]:
df_right = df2.drop([1, 3, 5, 7 ,9], axis = 0) #13579 행 제거
df_right

      이름    연봉  가족수
0     지민  3000    3
2     민지  3200    4
4      뷔  4300    3
6     혜인  3400    6
8     해린  4200    4
10    RM  3700    3
11    제니  3850    5
12   옹성우  3900    4
13    리사  4100    3
14    로제  4150    3
15    윤아  3000    3
16    조이  3500    3
17    슬기  3200    4
18  강다니엘  3050    4
19     진  4300    3

In [280]:
df_right = df_right.reset_index(drop=True) # 인덱스 재설정
df_right

      이름    연봉  가족수
0     지민  3000    3
1     민지  3200    4
2      뷔  4300    3
3     혜인  3400    6
4     해린  4200    4
5     RM  3700    3
6     제니  3850    5
7    옹성우  3900    4
8     리사  4100    3
9     로제  4150    3
10    윤아  3000    3
11    조이  3500    3
12    슬기  3200    4
13  강다니엘  3050    4
14     진  4300    3

In [281]:
dic = {
    '이름': '김사과',
    '연봉': 9000,
    '가족수': 10
}

In [282]:
# 데이터 추가
df_right = pd.concat([df_right, pd.DataFrame(dic, index=[0])], ignore_index=True)
df_right

      이름    연봉  가족수
0     지민  3000    3
1     민지  3200    4
2      뷔  4300    3
3     혜인  3400    6
4     해린  4200    4
5     RM  3700    3
6     제니  3850    5
7    옹성우  3900    4
8     리사  4100    3
9     로제  4150    3
10    윤아  3000    3
11    조이  3500    3
12    슬기  3200    4
13  강다니엘  3050    4
14     진  4300    3
15   김사과  9000   10

In [286]:
pd.concat([df1, df_right], axis=1)

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수    이름      연봉   가족수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302    지민  3000.0   3.0
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844    민지  3200.0   4.0
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081     뷔  4300.0   3.0
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153    혜인  3400.0   6.0
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048    해린  4200.0   4.0
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271    RM  3700.0   3.0
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785    제니  3850.0   5.0
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460   옹성우  3900.0   4.0
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376    리사  4100.0   3.0
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866    로제  4150.0   3.0
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499    윤아  3000.0   3.0
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250    조이  3500.0   3.0
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327    슬기  3200.0   4.0
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800  강다니엘  3050.0   4.0
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132     진  4300.0   3.0
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297   김사과  9000.0  10.0
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514   NaN     NaN   NaN
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767   NaN     NaN   NaN
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444   NaN     NaN   NaN
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587   NaN     NaN   NaN

In [284]:
# merge(): 특정 고유한 키(unique, id)값을 기준으로 합침
# merge(데이터프레임1, 데이터프레임2, on='유니크값', how='병합의 기준')
# 병합의 기준: left, right, inner, cross
pd.merge(df1, df_right, on='이름', how='left') # df1, df_right를 합치는데 '이름'이 동일한 column끼리 합친다.
# left는 df1을 의미한다. 즉 df1을 먼저 뿌린 후 df_right을 적용시킨다. 그리고 없는데이터일 경우 NaN으로 나온다.

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수      연봉  가족수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302  3000.0  3.0
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844     NaN  NaN
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081  3200.0  4.0
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153     NaN  NaN
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048  4300.0  3.0
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271     NaN  NaN
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785  3400.0  6.0
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460     NaN  NaN
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376  4200.0  4.0
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866     NaN  NaN
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499  3700.0  3.0
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250  3850.0  5.0
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327  3900.0  4.0
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800  4100.0  3.0
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132  4150.0  3.0
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297  3000.0  3.0
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514  3500.0  3.0
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767  3200.0  4.0
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444  3050.0  4.0
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587  4300.0  3.0

In [288]:
pd.merge(df1, df_right, on='이름', how='right') # df_right를 먼저 뿌리고 df1을 이름에 맞춰서 추가된다.

      이름     그룹   소속사   성별        생년월일      키  혈액형    브랜드평판지수    연봉  가족수
0     지민  방탄소년단   빅히트   남자  1995-10-13  174.0    A  6267302.0  3000    3
1     민지    뉴진스   어도어   여자  2004-05-07  169.0    A  4437081.0  3200    4
2      뷔  방탄소년단   빅히트   남자  1995-12-30  179.0   AB  3470048.0  4300    3
3     혜인    뉴진스   어도어   여자  2008-04-21  170.0    O  2301785.0  3400    6
4     해린    뉴진스   어도어   여자  2006-05-15  164.5    B  2173376.0  4200    4
5     RM  방탄소년단   빅히트   남자  1994-09-12  181.0    A  2069499.0  3700    3
6     제니   블랙핑크   와이지   여자  1996-01-16  163.0    B  2069250.0  3850    5
7    옹성우    워너원  판타지오   남자  1995-08-25  179.0    A  1954327.0  3900    4
8     리사   블랙핑크   와이지   여자  1997-03-27  167.0    A  1912800.0  4100    3
9     로제   블랙핑크   와이지   여자  1997-02-11  168.0    B  1888132.0  4150    3
10    윤아   소녀시대   에스엠   여자  1990-05-30  168.0    B  1885297.0  3000    3
11    조이   레드벨벳   빅히트   여자  1996-09-03  168.0    A  1830514.0  3500    3
12    슬기   레드벨벳   빅히트   여자  1994-02-10  161.0    A  1741767.0  3200    4
13  강다니엘    워너원   NaN   남자  1996-12-10  182.0    A  1706444.0  3050    4
14     진  방탄소년단   빅히트   남자  1992-12-04  179.0    O  1680587.0  4300    3
15   김사과    NaN   NaN  NaN         NaN    NaN  NaN        NaN  9000   10

In [289]:
pd.merge(df1, df_right, on='이름', how='inner') # 교집합이 된 데이터만 나온다.

      이름     그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수    연봉  가족수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0   A  6267302  3000    3
1     민지    뉴진스   어도어  여자  2004-05-07  169.0   A  4437081  3200    4
2      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0  AB  3470048  4300    3
3     혜인    뉴진스   어도어  여자  2008-04-21  170.0   O  2301785  3400    6
4     해린    뉴진스   어도어  여자  2006-05-15  164.5   B  2173376  4200    4
5     RM  방탄소년단   빅히트  남자  1994-09-12  181.0   A  2069499  3700    3
6     제니   블랙핑크   와이지  여자  1996-01-16  163.0   B  2069250  3850    5
7    옹성우    워너원  판타지오  남자  1995-08-25  179.0   A  1954327  3900    4
8     리사   블랙핑크   와이지  여자  1997-03-27  167.0   A  1912800  4100    3
9     로제   블랙핑크   와이지  여자  1997-02-11  168.0   B  1888132  4150    3
10    윤아   소녀시대   에스엠  여자  1990-05-30  168.0   B  1885297  3000    3
11    조이   레드벨벳   빅히트  여자  1996-09-03  168.0   A  1830514  3500    3
12    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0   A  1741767  3200    4
13  강다니엘    워너원   NaN  남자  1996-12-10  182.0   A  1706444  3050    4
14     진  방탄소년단   빅히트  남자  1992-12-04  179.0   O  1680587  4300    3

In [290]:
pd.merge(df1, df_right, how='cross') # 전체 데이터 * 데이터

    이름_x     그룹  소속사  성별        생년월일      키 혈액형  브랜드평판지수  이름_y    연봉  가족수
0     지민  방탄소년단  빅히트  남자  1995-10-13  174.0   A  6267302    지민  3000    3
1     지민  방탄소년단  빅히트  남자  1995-10-13  174.0   A  6267302    민지  3200    4
2     지민  방탄소년단  빅히트  남자  1995-10-13  174.0   A  6267302     뷔  4300    3
3     지민  방탄소년단  빅히트  남자  1995-10-13  174.0   A  6267302    혜인  3400    6
4     지민  방탄소년단  빅히트  남자  1995-10-13  174.0   A  6267302    해린  4200    4
..   ...    ...  ...  ..         ...    ...  ..      ...   ...   ...  ...
315    진  방탄소년단  빅히트  남자  1992-12-04  179.0   O  1680587    조이  3500    3
316    진  방탄소년단  빅히트  남자  1992-12-04  179.0   O  1680587    슬기  3200    4
317    진  방탄소년단  빅히트  남자  1992-12-04  179.0   O  1680587  강다니엘  3050    4
318    진  방탄소년단  빅히트  남자  1992-12-04  179.0   O  1680587     진  4300    3
319    진  방탄소년단  빅히트  남자  1992-12-04  179.0   O  1680587   김사과  9000   10

[320 rows x 11 columns]

In [293]:
df_right.columns = ['성함', '연봉', '가족수'] # 만약 이름이 없을경우
df_right

      성함    연봉  가족수
0     지민  3000    3
1     민지  3200    4
2      뷔  4300    3
3     혜인  3400    6
4     해린  4200    4
5     RM  3700    3
6     제니  3850    5
7    옹성우  3900    4
8     리사  4100    3
9     로제  4150    3
10    윤아  3000    3
11    조이  3500    3
12    슬기  3200    4
13  강다니엘  3050    4
14     진  4300    3
15   김사과  9000   10

In [294]:
# pd.merge(df1, df_right, on='이름', how='inner') KeyError: '이름' - 데이터에 이름이 없는 경우는 어떻게 할까?
pd.merge(df1, df_right, left_on='이름', right_on='성함', how='inner') # 각 데이터 행을 지정해줄수 있다.

      이름     그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수    성함    연봉  가족수
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0   A  6267302    지민  3000    3
1     민지    뉴진스   어도어  여자  2004-05-07  169.0   A  4437081    민지  3200    4
2      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0  AB  3470048     뷔  4300    3
3     혜인    뉴진스   어도어  여자  2008-04-21  170.0   O  2301785    혜인  3400    6
4     해린    뉴진스   어도어  여자  2006-05-15  164.5   B  2173376    해린  4200    4
5     RM  방탄소년단   빅히트  남자  1994-09-12  181.0   A  2069499    RM  3700    3
6     제니   블랙핑크   와이지  여자  1996-01-16  163.0   B  2069250    제니  3850    5
7    옹성우    워너원  판타지오  남자  1995-08-25  179.0   A  1954327   옹성우  3900    4
8     리사   블랙핑크   와이지  여자  1997-03-27  167.0   A  1912800    리사  4100    3
9     로제   블랙핑크   와이지  여자  1997-02-11  168.0   B  1888132    로제  4150    3
10    윤아   소녀시대   에스엠  여자  1990-05-30  168.0   B  1885297    윤아  3000    3
11    조이   레드벨벳   빅히트  여자  1996-09-03  168.0   A  1830514    조이  3500    3
12    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0   A  1741767    슬기  3200    4
13  강다니엘    워너원   NaN  남자  1996-12-10  182.0   A  1706444  강다니엘  3050    4
14     진  방탄소년단   빅히트  남자  1992-12-04  179.0   O  1680587     진  4300    3

In [296]:
# rank(): 데이터프레임 또는 시리즈의 순위를 매기는 함수. 기본값은 ascending
df1['브랜드순위'] = df1['브랜드평판지수'].rank() # 상식과는 다르게 순위가 높을수록 값이 크다.
df1

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수  브랜드순위
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302   20.0
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844   19.0
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081   18.0
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153   17.0
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048   16.0
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271   15.0
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785   14.0
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460   13.0
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376   12.0
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866   11.0
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499   10.0
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250    9.0
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327    8.0
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800    7.0
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132    6.0
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297    5.0
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514    4.0
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767    3.0
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444    2.0
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587    1.0

In [297]:
df1['브랜드순위'] = df1['브랜드평판지수'].rank(ascending=False) # 순위가 높을수록 숫자가 작아진다.
df1

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수  브랜드순위
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302    1.0
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844    2.0
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081    3.0
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153    4.0
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048    5.0
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271    6.0
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785    7.0
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460    8.0
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376    9.0
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866   10.0
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499   11.0
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250   12.0
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327   13.0
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800   14.0
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132   15.0
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297   16.0
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514   17.0
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767   18.0
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444   19.0
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587   20.0

In [299]:
# astype(): 특정열의 자료형을 변경
df1['브랜드순위'] = df1['브랜드순위'].astype(int) # integer로 변경
df1

      이름     그룹   소속사  성별        생년월일      키  혈액형  브랜드평판지수  브랜드순위
0     지민  방탄소년단   빅히트  남자  1995-10-13  174.0    A  6267302      1
1     정국  방탄소년단   빅히트  남자  1997-09-01  179.0    A  5805844      2
2     민지    뉴진스   어도어  여자  2004-05-07  169.0    A  4437081      3
3     하니    뉴진스   어도어  여자  2004-10-06  161.7    O  4161153      4
4      뷔  방탄소년단   빅히트  남자  1995-12-30  179.0   AB  3470048      5
5    다니엘    뉴진스   어도어  여자  2005-04-11  165.0  NaN  2341271      6
6     혜인    뉴진스   어도어  여자  2008-04-21  170.0    O  2301785      7
7     지수   블랙핑크   와이지  여자  1995-01-03  162.0    A  2227460      8
8     해린    뉴진스   어도어  여자  2006-05-15  164.5    B  2173376      9
9     태연   소녀시대   에스엠  여자  1989-03-09    NaN    A  2079866     10
10    RM  방탄소년단   빅히트  남자  1994-09-12  181.0    A  2069499     11
11    제니   블랙핑크   와이지  여자  1996-01-16  163.0    B  2069250     12
12   옹성우    워너원  판타지오  남자  1995-08-25  179.0    A  1954327     13
13    리사   블랙핑크   와이지  여자  1997-03-27  167.0    A  1912800     14
14    로제   블랙핑크   와이지  여자  1997-02-11  168.0    B  1888132     15
15    윤아   소녀시대   에스엠  여자  1990-05-30  168.0    B  1885297     16
16    조이   레드벨벳   빅히트  여자  1996-09-03  168.0    A  1830514     17
17    슬기   레드벨벳   빅히트  여자  1994-02-10  161.0    A  1741767     18
18  강다니엘    워너원   NaN  남자  1996-12-10  182.0    A  1706444     19
19     진  방탄소년단   빅히트  남자  1992-12-04  179.0    O  1680587     20

In [300]:
print(type(df1)) # dataframe
print(type(df1['브랜드순위'])) # series
print(df1['브랜드순위'].dtypes) # integer

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
int64

# 13. 날짜타입 사용하기

In [301]:
df_copy = df.copy()
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [302]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      20 non-null     object
 1   group     20 non-null     object
 2   company   19 non-null     object
 3   gender    20 non-null     object
 4   birthday  20 non-null     object
 5   height    19 non-null     float64
 6   blood     19 non-null     object
 7   brand     20 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.4+ KB

In [304]:
df_copy['birthday'] # 생년월일 뽑아오기 (문자타입)

0     1995-10-13
1     1997-09-01
2     2004-05-07
3     2004-10-06
4     1995-12-30
5     2005-04-11
6     2008-04-21
7     1995-01-03
8     2006-05-15
9     1989-03-09
10    1994-09-12
11    1996-01-16
12    1995-08-25
13    1997-03-27
14    1997-02-11
15    1990-05-30
16    1996-09-03
17    1994-02-10
18    1996-12-10
19    1992-12-04
Name: birthday, dtype: object

In [305]:
# 문자타입을 --> Datetime 타입으로 변환
# to_datatime(): object타입에서 datetime타입으로 변환
df_copy['birthday'] = pd.to_datetime(df_copy['birthday'])
print(type(df_copy['birthday']))
print(df_copy['birthday'].dtypes)

<class 'pandas.core.series.Series'>
datetime64[ns]

In [306]:
df_copy.info() # birthday가 datetime64로 변환되었다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      20 non-null     object
 1   group     20 non-null     object
 2   company   19 non-null     object
 3   gender    20 non-null     object
 4   birthday  20 non-null     datetime64[ns]
 5   height    19 non-null     float64
 6   blood     19 non-null     object
 7   brand     20 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 1.4+ KB

In [307]:
df_copy['birthday'].dt.year # 연도만 가져오기

0     1995
1     1997
2     2004
3     2004
4     1995
5     2005
6     2008
7     1995
8     2006
9     1989
10    1994
11    1996
12    1995
13    1997
14    1997
15    1990
16    1996
17    1994
18    1996
19    1992
Name: birthday, dtype: int32

In [308]:
df_copy['birthday'].dt.month # 달만 가져오기

0     10
1      9
2      5
3     10
4     12
5      4
6      4
7      1
8      5
9      3
10     9
11     1
12     8
13     3
14     2
15     5
16     9
17     2
18    12
19    12
Name: birthday, dtype: int32

In [309]:
df_copy['birthday'].dt.day # 일자만 가져오기

0     13
1      1
2      7
3      6
4     30
5     11
6     21
7      3
8     15
9      9
10    12
11    16
12    25
13    27
14    11
15    30
16     3
17    10
18    10
19     4
Name: birthday, dtype: int32

In [311]:
df_copy['birthday'].dt.hour # 시간만 가져오기

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: birthday, dtype: int32

In [312]:
df_copy['birthday'].dt.minute # 분만 가져오기

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: birthday, dtype: int32

In [313]:
df_copy['birthday'].dt.second # 초만 가져오기

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: birthday, dtype: int32

In [314]:
df_copy['birthday'].dt.dayofweek # 요일: 0(월요일) ~ 6(일요일)

0     4
1     0
2     4
3     2
4     5
5     0
6     0
7     1
8     0
9     3
10    0
11    1
12    4
13    3
14    1
15    2
16    1
17    3
18    1
19    4
Name: birthday, dtype: int32

In [315]:
df_copy['birthday'].dt.isocalendar().week #주일계산

0     41
1     36
2     19
3     41
4     52
5     15
6     17
7      1
8     20
9     10
10    37
11     3
12    34
13    13
14     7
15    22
16    36
17     6
18    50
19    49
Name: week, dtype: UInt32

# 14. apply 사용하기
Pandas의 apply() 함수는 데이터프레임이나 시리즈의 데이터를 사용자 정의 함수 또는 내장 함수에 적용하여 새로운 값을 계산하거나 변환할 때 사용됩니다. 데이터를 행(row) 또는 열(column) 단위로 처리할 수 있는 강력한 도구입니다.

In [316]:
df_copy = df.copy()
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [317]:
df_copy.head()

  name  group company gender    birthday  height blood    brand
0   지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1   정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2   민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3   하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4    뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048

In [319]:
# 성별을 남자는 1, 여자는 0으로 변환(loc를 사용)
df_copy.loc[df_copy['gender'] == '남자', 'gender'] = 1
df_copy.loc[df_copy['gender'] == '여자', 'gender'] = 0

In [320]:
df_copy.head() # gender가 1과 0으로 분류된다.

  name  group company gender    birthday  height blood    brand
0   지민  방탄소년단     빅히트      1  1995-10-13   174.0     A  6267302
1   정국  방탄소년단     빅히트      1  1997-09-01   179.0     A  5805844
2   민지    뉴진스     어도어      0  2004-05-07   169.0     A  4437081
3   하니    뉴진스     어도어      0  2004-10-06   161.7     O  4161153
4    뷔  방탄소년단     빅히트      1  1995-12-30   179.0    AB  3470048

In [321]:
df_copy = df.copy()
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [322]:
# 함수를 사용해서 변환
def male_or_female(x):
    if x == '남자':
        return 1
    elif x == '여자':
        return 0
    else:
        return None

In [323]:
print(male_or_female('남자'))
print(male_or_female('여자'))

1
0

In [326]:
# apply메소드를 이용해서 함수를 적용시킬 수 있다.
df_copy['gender'].apply(male_or_female) # 함수의 원형(콜백함수를 넣어준다)

0     1
1     1
2     0
3     0
4     1
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    1
13    0
14    0
15    0
16    0
17    0
18    1
19    1
Name: gender, dtype: int64

In [325]:
# 람다 함수 사용
df_copy['gender'].apply(lambda x: 1 if x == '남자' else 0)

0     1
1     1
2     0
3     0
4     1
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    1
13    0
14    0
15    0
16    0
17    0
18    1
19    1
Name: gender, dtype: int64

In [327]:
# 새로운 파생변수를 만들어서 저장
df_copy['NewGender'] = df_copy['gender'].apply(lambda x: 1 if x == '남자' else 0)
df_copy.head()

  name  group company gender    birthday  height blood    brand  NewGender
0   지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302          1
1   정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844          1
2   민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081          0
3   하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153          0
4    뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048          1

# 15. map 사용하기
Pandas의 map() 함수는 Series 객체에서 사용할 수 있는 함수로, 각 요소에 대해 함수나 매핑 규칙을 적용하여 새로운 값을 계산하거나 변환할 때 사용됩니다. map()은 데이터의 각 요소를 순회하며 특정 작업을 수행하므로, 데이터를 가공하거나 변환하는 데 유용합니다.

In [328]:
df_copy = df.copy()
df_copy

    name  group company gender    birthday  height blood    brand
0     지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302
1     정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844
2     민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081
3     하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153
4      뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048
5    다니엘    뉴진스     어도어     여자  2005-04-11   165.0   NaN  2341271
6     혜인    뉴진스     어도어     여자  2008-04-21   170.0     O  2301785
7     지수   블랙핑크     와이지     여자  1995-01-03   162.0     A  2227460
8     해린    뉴진스     어도어     여자  2006-05-15   164.5     B  2173376
9     태연   소녀시대     에스엠     여자  1989-03-09     NaN     A  2079866
10    RM  방탄소년단     빅히트     남자  1994-09-12   181.0     A  2069499
11    제니   블랙핑크     와이지     여자  1996-01-16   163.0     B  2069250
12   옹성우    워너원    판타지오     남자  1995-08-25   179.0     A  1954327
13    리사   블랙핑크     와이지     여자  1997-03-27   167.0     A  1912800
14    로제   블랙핑크     와이지     여자  1997-02-11   168.0     B  1888132
15    윤아   소녀시대     에스엠     여자  1990-05-30   168.0     B  1885297
16    조이   레드벨벳     빅히트     여자  1996-09-03   168.0     A  1830514
17    슬기   레드벨벳     빅히트     여자  1994-02-10   161.0     A  1741767
18  강다니엘    워너원     NaN     남자  1996-12-10   182.0     A  1706444
19     진  방탄소년단     빅히트     남자  1992-12-04   179.0     O  1680587

In [329]:
map_gender = {'남자':1, '여자':0} # dictionary 형태로 저장

In [330]:
df_copy['gender'].map(map_gender) # map()으로 gender에 있는 데이터에다가 규칙을 적용해준다.

0     1
1     1
2     0
3     0
4     1
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    1
13    0
14    0
15    0
16    0
17    0
18    1
19    1
Name: gender, dtype: int64

In [332]:
# 새 파생변수 만들기
df_copy['NewGender'] = df_copy['gender'].map(map_gender)
df_copy.head()

  name  group company gender    birthday  height blood    brand  NewGender
0   지민  방탄소년단     빅히트     남자  1995-10-13   174.0     A  6267302          1
1   정국  방탄소년단     빅히트     남자  1997-09-01   179.0     A  5805844          1
2   민지    뉴진스     어도어     여자  2004-05-07   169.0     A  4437081          0
3   하니    뉴진스     어도어     여자  2004-10-06   161.7     O  4161153          0
4    뷔  방탄소년단     빅히트     남자  1995-12-30   179.0    AB  3470048          1

# 16. 데이터프레임의 산술연산

In [334]:
df1 = pd.DataFrame({
    '파이썬':[60, 70, 80, 90, 95],
    '데이터분석':[40, 60, 70, 55, 87],
    '머신러닝딥러닝':[35, 40, 30, 70, 55]
})

In [336]:
df1['파이썬'].dtypes # 데이터타입

dtype('int64')

In [337]:
type(df1['파이썬']) # 타입은 시리즈

pandas.core.series.Series

In [338]:
df1['파이썬'] + df1['데이터분석'] + df1['머신러닝딥러닝'] # 각각 더하면 값이 합쳐져서 나온다.

0    135
1    170
2    180
3    215
4    237
dtype: int64

In [340]:
# df1에 총점, 평균이라는 파생변수를 만들고 파생변수에 총점, 평균을 구해서 저장
df1['총점'] = df1['파이썬'] + df1['데이터분석'] + df1['머신러닝딥러닝'] # 총점
df1['평균'] = df1['총점'] / 3 # 평균값
df1 # 파생변수 적용 확인

   파이썬  데이터분석  머신러닝딥러닝   총점         평균
0   60     40       35  135  45.000000
1   70     60       40  170  56.666667
2   80     70       30  180  60.000000
3   90     55       70  215  71.666667
4   95     87       55  237  79.000000

In [341]:
df1['파이썬'].sum() # 파이썬 행 더하기

np.int64(395)

In [344]:
df1['파이썬'].mean() # 파이썬 평균

np.float64(79.0)

In [345]:
df1.sum() # 각 행의 덧샘

파이썬        395.000000
데이터분석      312.000000
머신러닝딥러닝    230.000000
총점         937.000000
평균         312.333333
dtype: float64

In [346]:
df1.mean() # 각 행의 평균

파이썬         79.000000
데이터분석       62.400000
머신러닝딥러닝     46.000000
총점         187.400000
평균          62.466667
dtype: float64

In [347]:
df1 = pd.DataFrame({
    '파이썬':[60, 70, 80, 90, 95],
    '데이터분석':[40, 60, 70, 55, 87],
    '머신러닝딥러닝':[35, 40, 30, 70, 55]
})

df2 = pd.DataFrame({
    '파이썬':['C', 'B', 'B', 'A', 'A'],
    '데이터분석':[40, 60, 70, 55, 87],
    '머신러닝딥러닝':[35, 40, 30, 70, 55]
})

In [ ]:
df1 + df2 # 행의 갯수가 다를 경우 빠진 데이터를 NaN으로 취급하기 때문에 결과는 NaN