<a href="https://colab.research.google.com/github/JinLeeGG/AI_Project_Preparation/blob/main/1.%20Python%20Basics/12.Collections%20and%20Loop/CodingExample/12_Collections_and_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://ryuzyproject.tistory.com/15

# 1. 이터러블과 이터레이터

### 1. 이터러블(iterable)
이터러블은 for문처럼 반복문에서 사용할 수 있는 모든 객체를 의미합니다. 이터러블한 객체는 for item in 객체: 구조에서 사용 가능합니다. 모든 순서 있는 컬렉션은 이터러블입니다. 하지만 모든 이터러블이 순서 있는 것은 아닙니다. (set, dict.keys()는 반복은 되지만 인덱스가 없음)

### 2. 이터레이터(Iterator)
이터러블 객체는 iter() 함수를 사용해서 이터레이터로 바꿀 수 있습니다. 또한 next()를 사용해서 값을 하나씩 꺼낼 수 있습니다.

![image.png]()

In [6]:
numbers = [10, 20, 30]

# 이터러블 >> 이터레이터로 전환
iterator = iter(numbers)

# next()로 값을 하나씩 꺼냄
print(next(iterator))
print(next(iterator))
print(next(iterator))
#print(next(iterator)) # → 여기서 더 꺼내면 StopIteration 예외 발생

10
20
30

# 2. 리스트와 for문

In [10]:
li1 = ['apple', 'banana', 'orange', 'melon']

# for 문에서 list 사용가능
for i in li1:
    print(i, end=' ')

apple banana orange melon

In [14]:
# score 리스트에 저장된 점수가 60점 이상인 학생이 몇명인지 확인
score = [90, 30, 50, 60, 80, 70, 100, 40, 20, 10]

count = 0   # 60명 이상인 학생이 몇명인지 저장할 변수

for i in score:
    if i > 60:
        count +=1

print(count, '명입니다')

4 명입니다

In [15]:
# 리스트에서 길이가 5 이상인 문자열만 출력
words = ["apple", "hi", "banana", "go", "mango"]

# my answer
for i in words:
  if len(i) >= 5:
    print(i)

apple
banana
mango

In [16]:
# 리스트에서 길이가 5 이상인 문자열만 출력
words = ["apple", "hi", "banana", "go", "mango"]

for word in words:
    if (length := len(word)) >= 5:
      print(f'{word} (길이: {length})')

apple (길이: 5)
banana (길이: 6)
mango (길이: 5)

# 3. 딕셔너리와 for 문

In [17]:
dic1 = {'no':1, 'userid':'apple', 'name':'김사과', 'hp':'010-1111-1111'}

for i in dic1:
  print(i, end=' ') # 키만 복사

no userid name hp

In [18]:
for i in dic1.keys():
    print(i, end=' ') # 키만 복사

no userid name hp

In [19]:
for i in dic1.values():
    print(i, end=' ') # 값만 복사

1 apple 김사과 010-1111-1111

In [21]:
for i in dic1:
    print(dic1[i], end=' ') # 이런식으로 dic1이 키만 복사하는 성질을 이용해서 value를 가져온다.

1 apple 김사과 010-1111-1111

In [23]:
for i in dic1:
  print(dic1.get(i), end= ' ') # get(i) 메서드를 이용해서 값을 가져온다.

1 apple 김사과 010-1111-1111

In [24]:
for i in dic1.items():
    print(i)          # items()로 튜플형태로 가져온다.

('no', 1)
('userid', 'apple')
('name', '김사과')
('hp', '010-1111-1111')

In [25]:
for key, value in dic1.items():
    print(key, value)             # 키, 값을 따로 저장할 수 있다.

no 1
userid apple
name 김사과
hp 010-1111-1111

# 4. 컴프리헨션(Comprehension)
컴프리헨션(Comprehension)은 파이썬에서 리스트, 세트, 딕셔너리 등의 컬렉션을 간단하게 생성하거나 변형하는 방법 중 하나입니다. 컴프리헨션은 반복문과 조건문을 사용하여 간결하게 컬렉션을 생성하는 기법으로, 코드를 더 간단하고 가독성 좋게 작성할 수 있도록 도와줍니다.

### 1. 리스트 컴프리헨션
리스트 컴프리헨션은 새로운 리스트를 생성하는데 사용됩니다. 기존 리스트의 각 요소를 반복하면서 조건을 적용하여 새로운 리스트를 생성할 수 있습니다.

In [27]:
n = 10
result = [0 for i in range(n)]  # 10까지
print(result)

result = [i for i in range(n)]
print(result)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
li = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

result = [n for n in li]     # 리스트에 있는걸 하나씩 꺼내서 다른 리스트에 담아라
print(result)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [30]:
result = [n*2 for n in li] # 리스트에 있는걸 하나씩 꺼내서 *2 후 다른 리스트에 담아라
print(result)

[20, 40, 60, 80, 100, 120, 140, 160, 180, 200]

In [33]:
result = [n for n in range(10) if n % 2 == 0]  # 0 ~ 9까지 뽑아서 리스트에 담는데 짝수만 담을것.
print(result)

[0, 2, 4, 6, 8]

In [ ]:
# 양수는 리스트에 그대로 저장하고, 음수는 0으로 변환해서 저장하기
li = [-1, 0, -4, 24, 5, -10, 2, 20]

result = [n if n>0 else 0 for n in li]    #li에 담긴 내용을 하나씩 꺼내서 0보다 크면 리턴, 아니면 0을 리턴
print(result)

In [36]:
li = []

# 일반 for문 풀이
for i in range(1, 4):
    for j in range(1, 3):
        li.append(i * j)
print(li)

# List comprehension 풀이
li = [i*j for i in range(1, 4) for j in range(1, 3)]
print(li)

[1, 2, 2, 4, 3, 6]
[1, 2, 2, 4, 3, 6]

# 2. 세트 컴프리헨션
세트 컴프리헨션은 새로운 세트를 생성하는데 사용됩니다. 기존 세트의 각 요소를 반복하면서 조건을 적용하여 새로운 세트를 생성할 수 있습니다.

In [39]:
li = [1, 2, 3, 4, 5, 2, 3, 4]
unique_numbers = set(li)
print(unique_numbers)

li = [1, 2, 3, 4, 5, 2, 3, 4]
unique_numbers = {x for x in li}  # List >> Set으로 변환함으로서 중복값을 제거한다.
print(unique_numbers)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

# 3. 딕셔너리 컴프리헨션
딕셔너리 컴프리헨션은 새로운 딕셔너리를 생성하는데 사용됩니다. 기존 딕셔너리의 키와 값을 반복하면서 조건을 적용하여 새로운 딕셔너리를 생성할 수 있습니다.

In [40]:
names = ['apple', 'banana', 'orange']
name_lengths = {name:len(name) for name in names}
print(name_lengths)

{'apple': 5, 'banana': 6, 'orange': 6}