<a href="https://colab.research.google.com/github/JinLeeGG/AI_Project_Preparation/blob/main/1.%20Python%20Basics/12.Collections%20and%20Loop/CodingExample/Collections_and_Loop_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [10, 20, 30]

# iterable >> iterator
iterator = iter(numbers)

# bring out each element by using next()
print(next(iterator))
print(next(iterator))
print(next(iterator))

10
20
30

In [ ]:
# list and for loop

li1 = ['apple', 'banana', 'orange', 'melon']

for i in li1:
    print(i, end= ' ')

apple banana orange melon

In [ ]:
# how many students are above 60?
score = [90, 30, 50, 60, 80, 70, 100, 40, 20, 10]

count = 0

for i in score:
    if i > 60:
        count += 1

print(count)

4

In [ ]:
# print only the string length is more than 5
words = ['apple', 'hi', 'banana', 'go', 'mango']

# my answer
for i in words:
  if len(i) >= 5:
    print(i)

apple
banana
mango

In [ ]:
# another method using walrus expression
words = ['apple', 'hi', 'banana', 'go', 'mango']

for word in words:
  if (length := len(word)) >= 5:
    print(f'{word} (length: {length})')

apple (length: 5)
banana (length: 6)
mango (length: 5)

In [ ]:
# 3. Dictionary and for loop
dic1 = {'no':1, 'userid':'apple', 'name':'김사과', 'hp':'010-1111-1111'}

for i in dic1:
    print(i, end=' ') # copy only keys

no userid name hp

In [ ]:
for i in dic1.keys():
    print(i, end = ' ') #copy only keys

no userid name hp

In [ ]:
for i in dic1.values():
    print(i, end = ' ') #copy values

1 apple 김사과 010-1111-1111

In [ ]:
for i in dic1:
    print(dic1[i], end=' ') # bring values using key

1 apple 김사과 010-1111-1111

In [ ]:
for i in dic1:
    print(dic1.get(i), end= ' ') # using get() method

1 apple 김사과 010-1111-1111

In [ ]:
for i in dic1.items():
    print(i) # prints in the form of tuples

('no', 1)
('userid', 'apple')
('name', '김사과')
('hp', '010-1111-1111')

In [ ]:
for key, value in dic1.items():
    print(key, value)   #stores key, value seperately

no 1
userid apple
name 김사과
hp 010-1111-1111

In [ ]:
# Comprehension

# 1. List comprehension
n = 10
result = [0 for i in range(n)] # [0 * n]
print(result)

result = [i for i in range(n)]
print(result)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
li = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

result = [n for n in li] # take each element from li and put it in result
print(result)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
result = [n*2 for n in li]
print(result)

[20, 40, 60, 80, 100, 120, 140, 160, 180, 200]

In [ ]:
li = [-1, 0, -4, 24, 5, -10, 2, 20]

result = [n if n > 0 else 0 for n in li] #n if more than 0 or return 0
print(result)

[0, 0, 0, 24, 5, 0, 2, 20]

In [ ]:
result = [n for n in range(10) if n % 2 == 0]
print(result)

[0, 2, 4, 6, 8]

In [ ]:
# for loop solution
li = []

for i in range(1, 4):
    for j in range(1, 3):
        li.append(i * j)
print(li)

# List comprehension
li = [i*j for i in range(1, 4) for j in range(1, 3)]
print(li)

[1, 2, 2, 4, 3, 6]

In [ ]:
#2 Set Comprehension
li = [1, 2, 3, 4, 5, 2, 3, 4]
unique_numbers = set(li)
print(unique_numbers)

li = [1, 2, 3, 4, 5, 2, 3, 4]
unique_numbers = {x for x in li}
print(unique_numbers)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
#3 Dictionary comprehension
names = ['apple', 'banana', 'orange']
name_lengths = {name:len(name) for name in names}
print(name_lengths)

{'apple': 5, 'banana': 6, 'orange': 6}