<a href="https://colab.research.google.com/github/JinLeeGG/AI_Project_Preparation/blob/main/1.%20Python%20Basics/Day1%20-%20Print()%20function%2C%20Python%2C%20google%20colab/Print()_function_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Print()

In [7]:
print('Hello Python')
print("Hello Python")
print(10)
print('10')
print(10, 20, 30, 40)
print('Hello', 'Python')

Hello Python
Hello Python
10
10
10 20 30 40
Hello Python

In [10]:
print(10, 20, 30, 40, sep='ðŸ˜Š')
print(10, 20, 30, 40, sep = ' ')

10ðŸ˜Š20ðŸ˜Š30ðŸ˜Š40
10 20 30 40

In [11]:
print('Hello', end='')
print('Python')

HelloPython

In [12]:
print('Hello', end=' ')
print('Python')

Hello Python

In [13]:
print('Hello', end='ðŸŽ')
print('Python')

HelloðŸŽPython

## 2. Escape Character in Python

In [14]:
print('Hello\nPython')

Hello
Python

In [16]:
print('Name:\tJohn')

Name:	John

In [17]:
print('\\')

\

### 3. Calculation inside of print() function

In [27]:
print(10)
print(10 + 5)
print('addition: ', 10 + 5)
print('subtraction: ', 10 - 5)
print('multiply: ', 10 * 5)
print('division: ', 10/5)
print('integer division: ', 10 // 3)
print('leftover: ', 10 % 30)
print('exponential: ', 10 ** 5)

10
15
addition:  15
subtraction:  5
multiply:  50
division:  2.0
real number division:  3
leftover:  10
exponential:  100000

### 4. formatting in print() function

In [40]:
# % formatiing
# %s : prints string format
# %d : prints decimal format
# %.nf: prints until nth float format

print('Integer: ', 100)
print('Integer: %d' % 100)    # Prints an integer
print('Integer: %d' % 100.5)  # Still prints an integer
print('Float: %f' % 100.5)    # Prints float until 6th
print('Float: %.2f' % 100.5)  # Prints float until 2nd
print('String: %s' % 'Python') # Prints String
print('String: %s' % 100)       # Still prints string

print('5 + 3 = 8')
print('%d + %d = %d' % (5, 3, 5+3))

print('name: %s, age: %d' % ('ê¹€ì‚¬ê³¼', 20))
print('weight: %.2f' % 50.123213)

Integer:  100
Integer: 100
Integer: 100
Float: 100.500000
Float: 100.50
String: Python
String: 100
5 + 3 = 8
5 + 3 = 8
name: ê¹€ì‚¬ê³¼, age: 20
weight: 50.12

### 2. str.format() Method
* {}: Put a variable or expression inside curly braces to output a value.
* {:d}: Outputs an integer.
* {:f}: Outputs a floating-point number.
* {:s}: Outputs a string.
* {:x}: Outputs an integer as a hexadecimal number.
* {:0n}: Outputs an integer with n digits padded with zeros.
* {:n.mf}: Outputs a floating-point number, specifying the total length n and the number of decimal places m.

In [48]:
print('My friend: {} {}'.format('John', 'Nick'))
print('Name: {}, Age: {}, Score: {:.2f}'.format('John', 20, 95.321312))
print('First: {0}, Second: {1}, first again: {0}'.format('John', 'Nick'))
print('Name {name}, Age {age},'.format(name = 'John', age = 10))
print('Number: {:,}'.format(1234567890))
print('Hexadecimal: {:x}, octal: {:o}, Binary: {:b}'.format(255,255,255))

My friend: John Nick
Name: John, Age: 20, Score: 95.32
First: John, Second: Nick, first again: John
Name John, Age 10,
Number: 1,234,567,890
Hexadecimal: ff, octal: 377, Binary: 11111111

### 3.f-string

In [52]:
print(f'10 + 20 = {10 + 20}')
print(f'3.14159 >> 2nd decimal: {3.14159:.2f}')

10 + 20 = 30
3.14159 >> 2nd decimal: 3.14

### 4. Comments

In [53]:
"""
hello
there

"""


# hello

'\nhello\nthere\n\n'