<a href="https://colab.research.google.com/github/JinLeeGG/AI_Project_Preparation/blob/main/1.%20Python%20Basics/13.User%20defined%20functions/CodingExample/User_defined_functions_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# parameter but no return value

def func2(num):
    print(f'inserted num: {num}')

func2(10)
func2(1)

inserted num: 10
inserted num: 1

In [ ]:
def func3(start, end):
    sum = 0
    for i in range(start, end+1):
        sum += i
    print(f'from {start} to {end} sum: {sum}')

func3(1, 10)
func3(1, 100)

from 1 to 10 sum: 55
from 1 to 100 sum: 5050

In [ ]:
# functions that has return value
def func1():
    print('first function')

In [ ]:
func1()

first function

In [ ]:
temp = func1() # function does not return anything
print(temp)

first function
None

In [ ]:
temp = func1  #copying address of func
print(temp) # printing address of func
temp() # execute function by using func's address

<function func1 at 0x7b03457dfa60>
first function

In [ ]:
def func4():
  return '@' # returns emoji

print(func4())

@

In [ ]:
temp = func4()  # stores return value for function
print(f'temp value : {temp}') #print

temp value : @

In [ ]:
def func5(num1, num2):
    sum = num1 + num2
    return sum

In [ ]:
temp = func5(10, 5)
print(temp)
print(func5(10,5))

15
15

In [ ]:
# 5 default values for parameters
def func6(num1 = 0, num2 = 0):
    sum = num1 + num2
    return sum

In [ ]:
print(func6())
print(func6(10))
print(func6(10, 3))
print(func6(num2 = 3))

0
10
13
3

In [ ]:
# 6. variable arguments
def func7(*args):
    return args # does not matter how many arguments

print(func7())
print(func7(10))
print(func7(10, 30, 50)) # divide them by commma

()
(10,)

In [ ]:
def func8(a, b, c):
    return a + b + c

In [ ]:
numbers = [1, 2, 3]
print(func8(*numbers)) # no need to specify

6

In [ ]:
# 7. Keyword arguemnts
def func9(id, name, age):
    print(f'id : {id}')
    print(f'name: {name}')
    print(f'age: {age}')

In [ ]:
func9('apple', 'kimapple', 20)
func9('kimapple', 20, 'apple') # order does matter here
func9(age = 30, id = 'orange', name = 'OG')

id : apple
name: kimapple
age: 20
id : kimapple
name: 20
age: apple
id : orange
name: OG
age: 30

In [ ]:
# argument and key in dictionary must be identical
# key must be string
dic1 = {'age': 25, 'id':'banana', 'name':'banads'}
func9(**dic1)

id : banana
name: banads
age: 25

In [ ]:
func9(*dic1)

id : age
name: id
age: name

In [ ]:
# 8. different return values

def func10(num1=0, num2=0):
    return num1 + num2, num1 - num2, num1 * num2, num1 / num2

In [ ]:
result = func10(10, 3)
print(result) # returns as tuple form

(13, 7, 30, 3.3333333333333335)

In [ ]:
# unpacking
result1, result2, result3, result4 = func10(10, 3)
print(result1)
print(result2)
print(result3)
print(result4)

13
7
30
3.3333333333333335

In [ ]:
# if only need one return value?:
_, _, result3, _ = func10(10, 3)
print(f'multiplication: {result3}')

multiplication: 30

In [ ]:
li1 = [10, 20, 30, 40, 50]
for _, v in enumerate(li1):
    print(f'value: {v}')

value: 10
value: 20
value: 30
value: 40
value: 50

In [ ]:
#9 Memory delete

def func1():
    print('first function!')

In [ ]:
del func1