<a href="https://colab.research.google.com/github/JinLeeGG/AI_Project_Preparation/blob/main/5_Python_Collection_Type_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://ryuzyproject.tistory.com/8

# 1. 튜플
여러 가지 데이터 타입의 값을 저장할 수 있는, 변경 불가능(immutable)한 순서가 있는 컬렉션입니다.

In [ ]:
tu1 = ()
print(tu1)
print(type(tu1))

()
<class 'tuple'>

In [ ]:
tu1 = (1)
print(tu1)
print(type(tu1))    # 요소가 1개일 경우, 콤마를 안넣을시 int로 인식을 한다 계산살때의 괄호로 인식

tu1 = (1,)          # 요소가 1개일 경우 끝에 콤마를 꼭! 붙여야 함
print(tu1)
print(type(tu1))    # 튜플로 인식된다.

1
<class 'int'>
(1,)
<class 'tuple'>

In [ ]:
tu2 = (1, 3, 5, 7)
print(tu2)
print(type(tu2))

(1, 3, 5, 7)
<class 'tuple'>

In [ ]:
tu3 = tuple([1, 3, 5, 7])
print(tu3)
print(type(tu3))

(1, 3, 5, 7)
<class 'tuple'>

In [ ]:
li3 = list(tu3)
print(li3)
print(type(li3))

[1, 3, 5, 7]
<class 'list'>

In [ ]:
tu4 = 1, 3, 5, 7
print(tu4)
print(type(tu4))

(1, 3, 5, 7)
<class 'tuple'>

# 2. 패킹과 언패킹
변수를 튜플에 튜플의 항목들은 변수들에 할당될 수 있습니다.

In [ ]:
num1 = 10
num2 = 20
num3 = 30
tu4 = num1, num2, num3
print(tu4)

result1, result2, result3 = tu4
print(result1)
print(result2)
print(result3)

(10, 20, 30)
10
20
30

# 3. 인덱싱과 슬라이싱
튜플의 각 항목은 위치(인덱스)를 가지고 있으며, 인덱스를 사용하여 접근하거나 일부분을 추출할 수 있습니다.

In [ ]:
tu5 = ('apple', 'banana', ('🍎', '🍌'))
print(tu5)
print(type(tu5))

print(tu5[0])
print(type(tu5[0]))
print(tu5[2][0])
print(type(tu5[2][0]))

('apple', 'banana', ('🍎', '🍌'))
<class 'tuple'>
apple
<class 'str'>
🍎
<class 'str'>

In [ ]:
tu5 = ('apple', 'banana', ('🍎', '🍌'))
# tu5[0] = 'orange' # TypeError: 'tuple' object does not support item assignment
tu5 = 'orange'
print(tu5)

orange

In [ ]:
tu5 = ('apple', 'banana', ['🍎', '🍌'])
print(tu5)
print(type(tu5))
print(tu5[2])
print(type(tu5[2]))
tu5[2][0] = '❤'
print(tu5)
# tu5[2] = '🎃' # TypeError: 'tuple' object does not support item assignment

tu5[2][0] = '🍔'
print(tu5)

('apple', 'banana', ['🍎', '🍌'])
<class 'tuple'>
['🍎', '🍌']
<class 'list'>
('apple', 'banana', ['❤', '🍌'])
('apple', 'banana', ['🍔', '🍌'])

In [ ]:
# 튜플의 슬라이싱은 결과도 튜플로 반환
tu6 = (1, 2, 'apple', 'banana')
print(tu6[1:])
print(tu6[1:3])

(2, 'apple', 'banana')
(2, 'apple')

# 4. 연산
튜플 간의 + 연산으로 리스트를 결합할 수 있고, * 연산으로 리스트를 반복할 수 있습니다.

In [ ]:
# 튜플간의 연산은 결과도 튜플로 반환
tu7 = (10, 20, 30)
tu8 = (40, 50, 60)

print(tu7 + tu8)
print(tu8 + tu7)

tu7 = tu7 + (40, 50, 60)
print(tu7)

print(tu7 * 3)

(10, 20, 30, 40, 50, 60)
(40, 50, 60, 10, 20, 30)
(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

# 5. 멤버십 테스트
in 연산자를 사용하여 튜플에 특정 값이 있는지 확인할 수 있습니다.

In [ ]:
# 컬렉션에 포함되어 있는 요소인지 확인
print(2 in [2, 4, 6, 8, 10])
print(2 in (2, 4, 6, 8, 10))
print(7 in (2, 4, 6, 8, 10))
print("하이" in ("하이", "4", "6", "8", "10"))

True
True
False
True

# 6. 튜플의 정렬
튜플은 sort() 메서드를 제공하지 않습니다. sorted() 함수를 사용합니다.

In [ ]:
tu9 = (10, 30, 100, 90, 50)
# tu10.sort() # 튜플은 sort 메서드가 존재하지 않음
result = sorted(tu9, reverse = True) # 내림차순하여 리스트로 반환
print(result)
print(tu9) # 변경되지 않았음

# 다시 튜플 형태로 저장
result = tuple(result)
print(result)

[100, 90, 50, 30, 10]
(10, 30, 100, 90, 50)
(100, 90, 50, 30, 10)