<a href="https://colab.research.google.com/github/JinLeeGG/AI_Project_Preparation/blob/main/1.%20Python%20Basics/05.Python%20Collection%20Type%20(Tuple)/CodingExample/Python_Tuple_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tu1 = ()
print(tu1)
print(type(tu1))

()
<class 'tuple'>

In [ ]:
tu1 = (1)
print(tu1)
print(type(tu1)) # it detects as int instead of tuple when it has a single number

tu1 = (1,)
print(tu1)
print(type(tu1)) # detects as tuple

1
<class 'int'>
(1,)
<class 'tuple'>

In [ ]:
tu3 = tuple([1, 3, 5, 7])   # List to tuple
print(tu3)
print(type(tu3))

(1, 3, 5, 7)
<class 'tuple'>

In [ ]:
li3 = list(tu3) # Tuple to List
print(li3)
print(type(li3))

[1, 3, 5, 7]
<class 'list'>

In [ ]:
tu4 = 1, 3, 5, 7    # seting as tuple
print(tu4)
print(type(tu4))

(1, 3, 5, 7)
<class 'tuple'>

In [ ]:
# packing and unpacking
num1 = 10
num2 = 20
num3 = 30
tu4 = num1, num2, num3
print(tu4)

result1, result2, result3 = tu4
print(result1)
print(result2)
print(result3)

(10, 20, 30)
10
20
30

In [ ]:
# Indexing and slicing

tu5 = ('apple', 'banana', ('üçé', 'üçå'))
print(tu5)
print(type(tu5))

print(tu5[0])
print(type(tu5[0]))
print(tu5[2][0])
print(type(tu5[2][0]))

('apple', 'banana', ('üçé', 'üçå'))
<class 'tuple'>
apple
<class 'str'>
üçé
<class 'str'>

In [ ]:
tu5 = ('apple', 'banana', ('üçé', 'üçå'))
# tu5[0] = 'orange' # TypeError: 'tuple' object does not support item assignment

In [ ]:
tu5 = ('apple', 'banana', ['üçé', 'üçå'])
print(tu5)
print(type(tu5))
print(tu5[2])
print(type(tu5[2]))
tu5[2][0] = '‚ù§'
print(tu5)
# tu5[2] = 'üéÉ' # TypeError: 'tuple' object does not support item assignment

tu5[2][0] = 'üçî'
print(tu5)

('apple', 'banana', ['üçé', 'üçå'])
<class 'tuple'>
['üçé', 'üçå']
<class 'list'>
('apple', 'banana', ['‚ù§', 'üçå'])
('apple', 'banana', ['üçî', 'üçå'])

In [5]:
# Calculating Tuples

# Tuple + Tuple = Tuple
tu7 = (10, 20, 30)
tu8 = (40, 50, 60)

print(tu7 + tu8)
print(tu8 + tu7)

tu7 = tu7 + (40, 50, 60)
print(tu7)

# Tuple * num
print(tu7 * 3)

(10, 20, 30, 40, 50, 60)
(40, 50, 60, 10, 20, 30)
(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [7]:
# Membership Testing

# Using "in", it is possible to check if there is a specific element in the tuple or list
print(2 in [2, 4, 6, 8, 10])
print(2 in (2, 4, 6, 8, 10))
print(7 in (2, 4, 6, 8, 10))
print("Hello" in ("Hello", "4,", 1, 3, 4))

True
True
False
True

In [13]:
# Tuple Sorting
# Tuple does not provide sort() method. instead, we use sorted() function

tu9 = (10, 30, 100, 90, 50)

result = sorted(tu9, reverse = True)
print(result)
print(tu9)

#list --> tuple
result = tuple(result)
print(result)

[100, 90, 50, 30, 10]
(10, 30, 100, 90, 50)
(100, 90, 50, 30, 10)